openapi: 3.0.0
info:
  title: Nexos AI Public API Production Agent Management Responses API
  version: 1.0.0
  description: Manage agents.
servers:
- url: https://api.nexos.ai
security:
- bearerAuth: []
- apiKeyHeader: []
tags:
- name: Responses
  description: Create and manage model responses.
paths:
  /v1/responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      summary: Create a model response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
      description: Creates a model response.
  /v1/responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      summary: Get a model response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      - in: query
        name: stream
        schema:
          type: boolean
        description: 'If set to true, the model response data will be streamed to the client

          as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

          '
      - in: query
        name: starting_after
        schema:
          type: integer
        description: 'The sequence number of the event after which to start streaming.

          '
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: 'When true, stream obfuscation will be enabled. Stream obfuscation adds

          random characters to an `obfuscation` field on streaming delta events

          to normalize payload sizes as a mitigation to certain side-channel

          attacks. These obfuscation fields are included by default, but add a

          small amount of overhead to the data stream.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      description: 'Retrieves a model response with the given ID.

        '
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      summary: Delete a model response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to delete.
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: 'Deletes a model response with the given ID.

        '
  /v1/responses/{response_id}/input_items:
    get:
      operationId: listInputItems
      tags:
      - Responses
      summary: List input items
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve input items for.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range between

          1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: 'The order to return the input items in. Default is `desc`.

          - `asc`: Return the input items in ascending order.

          - `desc`: Return the input items in descending order.

          '
      - in: query
        name: after
        schema:
          type: string
        description: 'An item ID to list items after, used in pagination.

          '
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseItemList'
      description: Returns a list of input items for a given response.
  /v1/responses/{response_id}/cancel:
    post:
      operationId: cancelResponse
      tags:
      - Responses
      summary: Cancel a response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to cancel.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: "Cancels a model response with the given ID. Only responses created with\nthe `background` parameter set to `true` can be cancelled. \n"
  /v1/responses/compact:
    post:
      tags:
      - Responses
      summary: Compact a response
      description: Compact conversation
      operationId: CompactConversation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompactResponseMethodPublicBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompactResponseMethodPublicBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactResource'
  /v1/responses/input_tokens:
    post:
      tags:
      - Responses
      summary: Get input token counts
      description: Get input token counts
      operationId: GetInputTokenCounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCountsBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenCountsBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCountsResource'
components:
  schemas:
    FunctionAndCustomToolCallOutput:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
    ModelIdsCompaction:
      type: string
      description: Model ID used to generate the response, like `gpt-5` or `o3`.
    ApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
        country:
          type: string
          description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of the user, e.g. `US`.
          nullable: true
        region:
          type: string
          description: Free text input for the region of the user, e.g. `California`.
          nullable: true
        city:
          type: string
          description: Free text input for the city of the user, e.g. `San Francisco`.
          nullable: true
        timezone:
          type: string
          description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the user, e.g. `America/Los_Angeles`.
          nullable: true
      type: object
      required:
      - type
    ReasoningEffort:
      type: string
      nullable: true
      enum:
      - none
      - minimal
      - low
      - medium
      - high
      default: medium
      description: 'Controls how much reasoning effort the model uses. Lower settings are faster and use fewer tokens; higher settings provide more detailed reasoning.

        '
    LocalShellToolCall:
      type: object
      title: Local shell call
      description: 'A tool call to run a command on the local shell.

        '
      properties:
        type:
          type: string
          enum:
          - local_shell_call
          default: local_shell_call
          description: 'The type of the local shell call. Always `local_shell_call`.

            '
        id:
          type: string
          description: 'The unique ID of the local shell call.

            '
        call_id:
          type: string
          description: 'The unique ID of the local shell tool call generated by the model.

            '
        action:
          $ref: '#/components/schemas/LocalShellExecAction'
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          description: 'The status of the local shell call.

            '
      required:
      - type
      - id
      - call_id
      - action
      - status
    OutputTextContent:
      properties:
        type:
          type: string
          enum:
          - output_text
          description: The type of the output text. Always `output_text`.
          default: output_text
        text:
          type: string
          description: The text output from the model.
        annotations:
          items:
            $ref: '#/components/schemas/responses_Annotation'
          type: array
          description: The annotations of the text output.
        logprobs:
          items:
            $ref: '#/components/schemas/LogProb'
          type: array
      type: object
      required:
      - type
      - text
      - annotations
      title: Output text
      description: A text output from the model.
    ApplyPatchToolCall:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call
          description: The type of the item. Always `apply_patch_call`.
          default: apply_patch_call
        id:
          type: string
          description: The unique ID of the apply patch tool call. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        status:
          $ref: '#/components/schemas/ApplyPatchCallStatus'
          description: The status of the apply patch tool call. One of `in_progress` or `completed`.
        operation:
          title: Apply patch operation
          description: One of the create_file, delete_file, or update_file operations applied via apply_patch.
          discriminator:
            propertyName: type
          anyOf:
          - $ref: '#/components/schemas/ApplyPatchCreateFileOperation'
          - $ref: '#/components/schemas/ApplyPatchDeleteFileOperation'
          - $ref: '#/components/schemas/ApplyPatchUpdateFileOperation'
        created_by:
          type: string
          description: The ID of the entity that created this tool call.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      - operation
      title: Apply patch tool call
      description: A tool call that applies file diffs by creating, deleting, or updating files.
    Type:
      type: object
      title: Type
      description: 'An action to type in text.

        '
      properties:
        type:
          type: string
          enum:
          - type
          default: type
          description: "Specifies the event type. For a type action, this property is \nalways set to `type`.\n"
        text:
          type: string
          description: 'The text to type.

            '
      required:
      - type
      - text
    FunctionShellCallOutputContent:
      properties:
        stdout:
          type: string
        stderr:
          type: string
        outcome:
          title: Function shell call outcome
          description: Represents either an exit outcome (with an exit code) or a timeout outcome for a shell call output chunk.
          discriminator:
            propertyName: type
          anyOf:
          - $ref: '#/components/schemas/FunctionShellCallOutputTimeoutOutcome'
          - $ref: '#/components/schemas/FunctionShellCallOutputExitOutcome'
        created_by:
          type: string
      type: object
      required:
      - stdout
      - stderr
      - outcome
      title: Shell call output content
      description: The content of a shell call output.
    ResponseProperties:
      type: object
      required:
      - model
      properties:
        previous_response_id:
          type: string
          description: 'The unique ID of the previous response to the model. Use this to create multi-turn conversations. Cannot be used with `conversation`.

            '
          nullable: true
        model:
          description: 'Model ID used to generate the response (e.g., `gpt-4o` or `o3`). See your provider''s model guide for available options.

            '
          type: string
        reasoning:
          $ref: '#/components/schemas/Reasoning'
          nullable: true
        background:
          type: boolean
          description: 'Whether to run the model response in the background.

            '
          default: false
          nullable: true
        max_output_tokens:
          description: 'An upper bound for the number of tokens that can be generated for a response, including visible output tokens and reasoning tokens.

            '
          type: integer
          nullable: true
        max_tool_calls:
          description: 'The maximum number of total calls to built-in tools that can be processed in a response. This maximum number applies across all built-in tool calls, not per individual tool. Any further attempts to call a tool by the model will be ignored.

            '
          type: integer
          nullable: true
        text:
          $ref: '#/components/schemas/ResponseTextParam'
        tools:
          $ref: '#/components/schemas/ToolsArray'
        tool_choice:
          $ref: '#/components/schemas/ToolChoiceParam'
        prompt:
          $ref: '#/components/schemas/Prompt'
        truncation:
          type: string
          description: "The truncation strategy to use for the model response.\n- `auto`: If the input to this Response exceeds\n  the model's context window size, the model will truncate the\n  response to fit the context window by dropping items from the beginning of the conversation.\n- `disabled` (default): If the input size will exceed the context window\n  size for a model, the request will fail with a 400 error.\n"
          enum:
          - auto
          - disabled
          default: disabled
          nullable: true
    ResponseCustomToolCallInputDeltaEvent:
      title: ResponseCustomToolCallInputDelta
      type: object
      description: 'Event representing a delta (partial update) to the input of a custom tool call.

        '
      properties:
        type:
          type: string
          enum:
          - response.custom_tool_call_input.delta
          description: The event type identifier.
        sequence_number:
          type: integer
          description: The sequence number of this event.
        output_index:
          type: integer
          description: The index of the output this delta applies to.
        item_id:
          type: string
          description: Unique identifier for the API item associated with this event.
        delta:
          type: string
          description: The incremental input data (delta) for the custom tool call.
      required:
      - type
      - output_index
      - item_id
      - delta
      - sequence_number
    LocalShellExecAction:
      properties:
        type:
          type: string
          enum:
          - exec
          description: The type of the local shell action. Always `exec`.
          default: exec
        command:
          items:
            type: string
          type: array
          description: The command to run.
        timeout_ms:
          type: integer
          nullable: true
          description: Optional timeout in milliseconds for the command.
        working_directory:
          type: string
          nullable: true
          description: Optional working directory to run the command in.
        env:
          additionalProperties:
            type: string
          type: object
          description: Environment variables to set for the command.
        user:
          type: string
          nullable: true
          description: Optional user to run the command as.
      type: object
      required:
      - type
      - command
      - env
      title: Local shell exec action
      description: Execute a shell command on the server.
    ContainerFileCitationBody:
      properties:
        type:
          type: string
          enum:
          - container_file_citation
          description: The type of the container file citation. Always `container_file_citation`.
          default: container_file_citation
        container_id:
          type: string
          description: The ID of the container file.
        file_id:
          type: string
          description: The ID of the file.
        start_index:
          type: integer
          description: The index of the first character of the container file citation in the message.
        end_index:
          type: integer
          description: The index of the last character of the container file citation in the message.
        filename:
          type: string
          description: The filename of the container file cited.
      type: object
      required:
      - type
      - container_id
      - file_id
      - start_index
      - end_index
      - filename
      title: Container file citation
      description: A citation for a container file used to generate a model response.
    WebSearchActionFind:
      type: object
      title: Find action
      description: 'Action type "find": Searches for a pattern within a loaded page.

        '
      properties:
        type:
          type: string
          enum:
          - find
          description: 'The action type.

            '
        url:
          type: string
          format: uri
          description: 'The URL of the page searched for the pattern.

            '
        pattern:
          type: string
          description: 'The pattern or text to search for within the page.

            '
      required:
      - type
      - url
      - pattern
    CodeInterpreterToolCall:
      type: object
      title: Code interpreter tool call
      description: 'A tool call to run code.

        '
      properties:
        type:
          type: string
          enum:
          - code_interpreter_call
          default: code_interpreter_call
          description: 'The type of the code interpreter tool call. Always `code_interpreter_call`.

            '
        id:
          type: string
          description: 'The unique ID of the code interpreter tool call.

            '
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          - interpreting
          - failed
          description: 'The status of the code interpreter tool call. Valid values are `in_progress`, `completed`, `incomplete`, `interpreting`, and `failed`.

            '
        container_id:
          type: string
          description: 'The ID of the container used to run the code.

            '
        code:
          type: string
          description: 'The code to run, or null if not available.

            '
          nullable: true
        outputs:
          type: array
          items:
            discriminator:
              propertyName: type
            anyOf:
            - $ref: '#/components/schemas/CodeInterpreterOutputLogs'
            - $ref: '#/components/schemas/CodeInterpreterOutputImage'
          discriminator:
            propertyName: type
          description: 'The outputs generated by the code interpreter, such as logs or images.

            Can be null if no outputs are available.

            '
          nullable: true
      required:
      - type
      - id
      - status
      - container_id
      - code
      - outputs
    CustomToolCallOutput:
      type: object
      title: Custom tool call output
      description: 'The output of a custom tool call from your code, being sent back to the model.

        '
      properties:
        type:
          type: string
          enum:
          - custom_tool_call_output
          default: custom_tool_call_output
          description: 'The type of the custom tool call output. Always `custom_tool_call_output`.

            '
        id:
          type: string
          description: 'The unique ID of the custom tool call output in the platform.

            '
        call_id:
          type: string
          description: 'The call ID, used to map this custom tool call output to a custom tool call.

            '
        output:
          description: 'The output from the custom tool call generated by your code.

            Can be a string or an list of output content.

            '
          anyOf:
          - type: string
            description: 'A string of the output of the custom tool call.

              '
            title: string output
          - type: array
            items:
              $ref: '#/components/schemas/FunctionAndCustomToolCallOutput'
            title: output content list
            description: 'Text, image, or file output of the custom tool call.

              '
      required:
      - type
      - call_id
      - output
    ContainerMemoryLimit:
      type: string
      enum:
      - 1g
      - 4g
      - 16g
      - 64g
    ResponseMCPListToolsFailedEvent:
      type: object
      title: ResponseMCPListToolsFailedEvent
      description: 'Emitted when the attempt to list available MCP tools has failed.

        '
      properties:
        type:
          type: string
          enum:
          - response.mcp_list_tools.failed
          description: The type of the event. Always 'response.mcp_list_tools.failed'.
        item_id:
          type: string
          description: The ID of the MCP tool call item that failed.
        output_index:
          type: integer
          description: The index of the output item that failed.
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - item_id
      - output_index
      - sequence_number
    Summary:
      properties:
        type:
          type: string
          enum:
          - summary_text
          description: The type of the object. Always `summary_text`.
          default: summary_text
        text:
          type: string
          description: A summary of the reasoning output from the model so far.
      type: object
      required:
      - type
      - text
      title: Summary text
      description: A summary text from the model.
    ResponseMCPCallArgumentsDeltaEvent:
      type: object
      title: ResponseMCPCallArgumentsDeltaEvent
      description: 'Emitted when there is a delta (partial update) to the arguments of an MCP tool call.

        '
      properties:
        type:
          type: string
          enum:
          - response.mcp_call_arguments.delta
          description: The type of the event. Always 'response.mcp_call_arguments.delta'.
        output_index:
          type: integer
          description: The index of the output item in the response's output array.
        item_id:
          type: string
          description: The unique identifier of the MCP tool call item being processed.
        delta:
          type: string
          description: 'A JSON string containing the partial update to the arguments for the MCP tool call.

            '
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - output_index
      - item_id
      - delta
      - sequence_number
    FunctionShellCallOutputItemParam:
      properties:
        id:
          type: string
          description: The unique ID of the function shell tool call output. Populated when this item is returned via API.
          nullable: true
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the function shell tool call generated by the model.
        type:
          type: string
          enum:
          - shell_call_output
          description: The type of the item. Always `function_shell_call_output`.
          default: shell_call_output
        output:
          items:
            $ref: '#/components/schemas/FunctionShellCallOutputContentParam'
          type: array
          description: Captured chunks of stdout and stderr output, along with their associated outcomes.
        max_output_length:
          type: integer
          description: The maximum number of UTF-8 characters captured for this shell call's combined output.
          nullable: true
      type: object
      required:
      - call_id
      - type
      - output
      title: Function shell tool call output
      description: The streamed output items emitted by a function shell tool call.
    ComputerToolCallOutput:
      type: object
      title: Computer tool call output
      description: 'The output of a computer tool call.

        '
      properties:
        type:
          type: string
          description: 'The type of the computer tool call output. Always `computer_call_output`.

            '
          enum:
          - computer_call_output
          default: computer_call_output
        id:
          type: string
          description: 'The ID of the computer tool call output.

            '
        call_id:
          type: string
          description: 'The ID of the computer tool call that produced the output.

            '
        acknowledged_safety_checks:
          type: array
          description: 'The safety checks reported by the API that have been acknowledged by the

            developer.

            '
          items:
            $ref: '#/components/schemas/ComputerCallSafetyCheckParam'
        output:
          $ref: '#/components/schemas/ComputerScreenshotImage'
        status:
          type: string
          description: 'The status of the message input. One of `in_progress`, `completed`, or

            `incomplete`. Populated when input items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - output
    MCPListTools:
      type: object
      title: MCP list tools
      description: 'A list of tools available on an MCP server.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_list_tools
          default: mcp_list_tools
          description: 'The type of the item. Always `mcp_list_tools`.

            '
        id:
          type: string
          description: 'The unique ID of the list.

            '
        server_label:
          type: string
          description: 'The label of the MCP server.

            '
        tools:
          type: array
          items:
            $ref: '#/components/schemas/MCPListToolsTool'
          description: 'The tools available on the server.

            '
        error:
          type: string
          description: 'Error message if the server could not list tools.

            '
          nullable: true
      required:
      - type
      - id
      - server_label
      - tools
    FunctionShellCallOutputContentParam:
      properties:
        stdout:
          type: string
          maxLength: 10485760
          description: Captured stdout output for this chunk of the shell call.
        stderr:
          type: string
          maxLength: 10485760
          description: Captured stderr output for this chunk of the shell call.
        outcome:
          $ref: '#/components/schemas/FunctionShellCallOutputOutcomeParam'
          description: The exit or timeout outcome associated with this chunk.
      type: object
      required:
      - stdout
      - stderr
      - outcome
      title: Function shell output chunk
      description: Captured stdout and stderr for a portion of a function shell tool call output.
    ReasoningTextContent:
      properties:
        type:
          type: string
          enum:
          - reasoning_text
          description: The type of the reasoning text. Always `reasoning_text`.
          default: reasoning_text
        text:
          type: string
          description: The reasoning text from the model.
      type: object
      required:
      - type
      - text
      title: ReasoningTextContent
      description: Reasoning text from the model.
    ItemReferenceParam:
      properties:
        type:
          type: string
          nullable: true
          enum:
          - item_reference
          description: The type of item to reference. Always `item_reference`.
          default: item_reference
        id:
          type: string
          description: The ID of the item to reference.
      type: object
      required:
      - id
      title: Item reference
      description: An internal identifier for an item to reference.
    ComputerUsePreviewTool:
      properties:
        type:
          type: string
          enum:
          - computer_use_preview
          description: The type of the computer use tool. Always `computer_use_preview`.
          default: computer_use_preview
        environment:
          $ref: '#/components/schemas/ComputerEnvironment'
          description: The type of computer environment to control.
        display_width:
          type: integer
          description: The width of the computer display.
        display_height:
          type: integer
          description: The height of the computer display.
      type: object
      required:
      - type
      - environment
      - display_width
      - display_height
      title: Computer use preview
      description: A tool that controls a virtual computer. Learn more in the computer tool guide.
    FunctionToolCall:
      type: object
      title: Function tool call
      description: 'A tool call to run a function. Used when the model requests your code to execute a function.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the function tool call.

            '
        type:
          type: string
          enum:
          - function_call
          default: function_call
          description: 'The type of the function tool call. Always `function_call`.

            '
        call_id:
          type: string
          description: 'The unique ID of the function tool call generated by the model.

            '
        name:
          type: string
          description: 'The name of the function to run.

            '
        arguments:
          type: string
          description: 'A JSON string of the arguments to pass to the function.

            '
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`, or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - name
      - arguments
    CompactResource:
      properties:
        id:
          type: string
          description: The unique identifier for the compacted response.
        object:
          type: string
          enum:
          - response.compaction
          description: The object type. Always `response.compaction`.
          default: response.compaction
        output:
          type: array
          description: The compacted list of output items. This is a list of all user messages, followed by a single compaction item.
          items:
            $ref: '#/components/schemas/OutputItem'
        created_at:
          type: integer
          description: Unix timestamp (in seconds) when the compacted conversation was created.
        usage:
          $ref: '#/components/schemas/ResponseUsage'
          description: Token accounting for the compaction pass, including cached, reasoning, and total tokens.
      type: object
      required:
      - id
      - object
      - output
      - created_at
      - usage
      title: The compacted response object
    ReasoningItem:
      type: object
      description: 'A description of the chain of thought used by a reasoning model while generating a response.

        Include these items in your input for subsequent turns if you are manually managing context.

        '
      title: Reasoning
      properties:
        type:
          type: string
          description: 'The type of the object. Always `reasoning`.

            '
          enum:
          - reasoning
          default: reasoning
        id:
          type: string
          description: 'The unique identifier of the reasoning content.

            '
        encrypted_content:
          type: string
          description: 'The encrypted content of the reasoning item - populated when a response is

            generated with `reasoning.encrypted_content` in the `include` parameter.

            '
          nullable: true
        summary:
          type: array
          description: 'Reasoning summary content.

            '
          items:
            $ref: '#/components/schemas/Summary'
        content:
          type: array
          description: 'Reasoning text content.

            '
          items:
            $ref: '#/components/schemas/ReasoningTextContent'
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`, or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - id
      - summary
      - type
    CompactResponseMethodPublicBody:
      properties:
        model:
          $ref: '#/components/schemas/ModelIdsCompaction'
        input:
          description: Text, image, or file inputs to the model, used to generate a response
          anyOf:
          - type: string
            maxLength: 10485760
            description: A text input to the model, equivalent to a text input with the `user` role.
          - items:
              $ref: '#/components/schemas/InputItem'
            type: array
          nullable: true
        previous_response_id:
          type: string
          description: The unique ID of the previous response to the model. Use this to create multi-turn conversations.
          nullable: true
        instructions:
          type: string
          description: 'A system (or developer) message inserted into the model''s context.

            When used along with `previous_response_id`, the instructions from a previous response will not be carried over to the next response. This makes it simple to swap out system (or developer) messages in new responses.'
          nullable: true
      type: object
      required: []
    OutputContent:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/OutputTextContent'
      - $ref: '#/components/schemas/RefusalContent'
      - $ref: '#/components/schemas/ReasoningTextContent'
    ResponseFileSearchCallCompletedEvent:
      type: object
      description: Emitted when a file search call is completed (results found).
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.file_search_call.completed`.

            '
          enum:
          - response.file_search_call.completed
        output_index:
          type: integer
          description: 'The index of the output item that the file search call is initiated.

            '
        item_id:
          type: string
          description: 'The ID of the output item that the file search call is initiated.

            '
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - output_index
      - item_id
      - sequence_number
    ServiceTier:
      type: string
      description: 'Specifies the processing tier for the request.

        The response includes the actual tier used, which may differ from the requested value.

        '
      enum:
      - auto
      - default
      - flex
      - scale
      - priority
      default: auto
      nullable: true
    ComparisonFilterValueItems:
      anyOf:
      - type: string
      - type: number
    SearchContextSize:
      type: string
      enum:
      - low
      - medium
      - high
    MCPApprovalResponseResource:
      type: object
      title: MCP approval response
      description: 'A response to an MCP approval request.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_approval_response
          description: 'The type of the item. Always `mcp_approval_response`.

            '
        id:
          type: string
          description: 'The unique ID of the approval response

            '
        approval_request_id:
          type: string
          description: 'The ID of the approval request being answered.

            '
        approve:
          type: boolean
          description: 'Whether the request was approved.

            '
        reason:
          type: string
          description: 'Optional reason for the decision.

            '
          nullable: true
      required:
      - type
      - id
      - request_id
      - approve
      - approval_request_id
    ApplyPatchCallStatusParam:
      type: string
      enum:
      - in_progress
      - completed
      title: Apply patch call status
      description: Status values reported for apply_patch tool calls.
    ApplyPatchToolCallOutput:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
        id:
          type: string
          description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
        call_id:
          type: string
          description: The unique ID of the apply patch tool call generated by the model.
        status:
          $ref: '#/components/schemas/ApplyPatchCallOutputStatus'
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          type: string
          description: Optional textual output returned by the apply patch tool.
          nullable: true
        created_by:
          type: string
          description: The ID of the entity that created this tool call output.
      type: object
      required:
      - type
      - id
      - call_id
      - status
      title: Apply patch tool call output
      description: The output emitted by an apply patch tool call.
    FilePath:
      type: object
      title: File path
      description: 'A path to a file.

        '
      properties:
        type:
          type: string
          description: 'The type of the file path. Always `file_path`.

            '
          enum:
          - file_path
        file_id:
          type: string
          description: 'The ID of the file.

            '
        index:
          type: integer
          description: 'The index of the file in the list of files.

            '
      required:
      - type
      - file_id
      - index
    ToolChoiceFunction:
      type: object
      title: Function tool
      description: 'Use this option to force the model to call a specific function.

        '
      properties:
        type:
          type: string
          enum:
          - function
          description: For function calling, the type is always `function`.
        name:
          type: string
          description: The name of the function to call.
      required:
      - type
      - name
    WebSearchPreviewTool:
      properties:
        type:
          type: string
          enum:
          - web_search_preview
          - web_search_preview_2025_03_11
          description: The type of the web search tool. One of `web_search_preview` or `web_search_preview_2025_03_11`.
          default: web_search_preview
        user_location:
          $ref: '#/components/schemas/ApproximateLocation'
          description: The user's location.
          nullable: true
        search_context_size:
          $ref: '#/components/schemas/SearchContextSize'
          description: High level guidance for the amount of context window space to use for the search. One of `low`, `medium`, or `high`. `medium` is the default.
      type: object
      required:
      - type
      title: Web search preview
      description: Searches the web for relevant results to use in a response. Learn more in the web search tool guide.
    ResponseImageGenCallInProgressEvent:
      type: object
      title: ResponseImageGenCallInProgressEvent
      description: 'Emitted when an image generation tool call is in progress.

        '
      properties:
        type:
          type: string
          enum:
          - response.image_generation_call.in_progress
          description: The type of the event. Always 'response.image_generation_call.in_progress'.
        output_index:
          type: integer
          description: The index of the output item in the response's output array.
        item_id:
          type: string
          description: The unique identifier of the image generation item being processed.
        sequence_number:
          type: integer
          description: The sequence number of the image generation item being processed.
      required:
      - type
      - output_index
      - item_id
      - sequence_number
    ClickButtonType:
      type: string
      enum:
      - left
      - right
      - wheel
      - back
      - forward
    ComputerAction:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/ClickParam'
      - $ref: '#/components/schemas/DoubleClickAction'
      - $ref: '#/components/schemas/Drag'
      - $ref: '#/components/schemas/KeyPressAction'
      - $ref: '#/components/schemas/Move'
      - $ref: '#/components/schemas/Screenshot'
      - $ref: '#/components/schemas/Scroll'
      - $ref: '#/components/schemas/Type'
      - $ref: '#/components/schemas/Wait'
    WebSearchToolCall:
      type: object
      title: Web search tool call
      description: 'The results of a web search tool call. See the web search guide for more information.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the web search tool call.

            '
        type:
          type: string
          enum:
          - web_search_call
          default: web_search_call
          description: 'The type of the web search tool call. Always `web_search_call`.

            '
        status:
          type: string
          description: 'The status of the web search tool call.

            '
          enum:
          - in_progress
          - searching
          - completed
          - failed
        action:
          type: object
          description: 'An object describing the specific action taken in this web search call.

            Includes details on how the model used the web (search, open_page, find).

            '
          discriminator:
            propertyName: type
          anyOf:
          - $ref: '#/components/schemas/WebSearchActionSearch'
          - $ref: '#/components/schemas/WebSearchActionOpenPage'
          - $ref: '#/components/schemas/WebSearchActionFind'
      required:
      - id
      - type
      - status
      - action
    Drag:
      type: object
      title: Drag
      description: 'A drag action.

        '
      properties:
        type:
          type: string
          enum:
          - drag
          default: drag
          description: "Specifies the event type. For a drag action, this property is \nalways set to `drag`.\n"
        path:
          type: array
          description: "An array of coordinates representing the path of the drag action. Coordinates will appear as an array\nof objects, eg\n```\n[\n  { x: 100, y: 200 },\n  { x: 200, y: 300 }\n]\n```\n"
          items:
            $ref: '#/components/schemas/DragPoint'
      required:
      - type
      - path
    CodeInterpreterTool:
      type: object
      title: Code interpreter
      description: 'A tool that runs Python code to help generate a response to a prompt.

        '
      properties:
        type:
          type: string
          enum:
          - code_interpreter
          description: 'The type of the code interpreter tool. Always `code_interpreter`.

            '
        container:
          description: 'The code interpreter container. Can be a container ID or an object that

            specifies uploaded file IDs to make available to your code.

            '
          anyOf:
          - type: string
            description: The container ID.
          - $ref: '#/components/schemas/CodeInterpreterContainerAuto'
      required:
      - type
      - container
    FileCitationBody:
      properties:
        type:
          type: string
          enum:
          - file_citation
          description: The type of the file citation. Always `file_citation`.
          default: file_citation
        file_id:
          type: string
          description: The ID of the file.
        index:
          type: integer
          description: The index of the file in the list of files.
        filename:
          type: string
          description: The filename of the file cited.
      type: object
      required:
      - type
      - file_id
      - index
      - filename
      title: File citation
      description: A citation to a file.
    FunctionCallOutputItemParam:
      properties:
        id:
          type: string
          description: The unique ID of the function tool call output. Populated when this item is returned via API.
          nullable: true
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the function tool call generated by the model.
        type:
          type: string
          enum:
          - function_call_output
          description: The type of the function tool call output. Always `function_call_output`.
          default: function_call_output
        output:
          description: Text, image, or file output of the function tool call.
          anyOf:
          - type: string
            maxLength: 10485760
            description: A JSON string of the output of the function tool call.
          - items:
              discriminator:
                propertyName: type
              anyOf:
              - $ref: '#/components/schemas/InputTextContentParam'
              - $ref: '#/components/schemas/InputImageContentParamAutoParam'
              - $ref: '#/components/schemas/InputFileContentParam'
            type: array
        status:
          $ref: '#/components/schemas/FunctionCallItemStatus'
          description: The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API.
          nullable: true
      type: object
      required:
      - call_id
      - type
      - output
      title: Function tool call output
      description: The output of a function tool call.
    FunctionShellActionParam:
      properties:
        commands:
          items:
            type: string
          type: array
          description: Ordered shell commands for the execution environment to run.
        timeout_ms:
          type: integer
          description: Maximum wall-clock time in milliseconds to allow the shell commands to run.
          nullable: true
        max_output_length:
          type: integer
          description: Maximum number of UTF-8 characters to capture from combined stdout and stderr output.
          nullable: true
      type: object
      required:
      - commands
      title: Function shell action
      description: Commands and limits describing how to run the function shell tool call.
    RefusalContent:
      properties:
        type:
          type: string
          enum:
          - refusal
          description: The type of the refusal. Always `refusal`.
          default: refusal
        refusal:
          type: string
          description: The refusal explanation from the model.
      type: object
      required:
      - type
      - refusal
      title: Refusal
      description: A refusal from the model.
    ConversationParam-2:
      properties:
        id:
          type: string
          description: The unique ID of the conversation.
      type: object
      required:
      - id
      title: Conversation object
      description: The conversation that this response belongs to.
    ResponseReasoningSummaryTextDoneEvent:
      type: object
      description: Emitted when a reasoning summary text is completed.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.reasoning_summary_text.done`.

            '
          enum:
          - response.reasoning_summary_text.done
        item_id:
          type: string
          description: 'The ID of the item this summary text is associated with.

            '
        output_index:
          type: integer
          description: 'The index of the output item this summary text is associated with.

            '
        summary_index:
          type: integer
          description: 'The index of the summary part within the reasoning summary.

            '
        text:
          type: string
          description: 'The full text of the completed reasoning summary.

            '
        sequence_number:
          type: integer
          description: 'The sequence number of this event.

            '
      required:
      - type
      - item_id
      - output_index
      - summary_index
      - text
      - sequence_number
    FunctionShellCallOutputTimeoutOutcome:
      properties:
        type:
          type: string
          enum:
          - timeout
          description: The outcome type. Always `timeout`.
          default: timeout
      type: object
      required:
      - type
      title: Function shell timeout outcome
      description: Indicates that the function shell call exceeded its configured time limit.
    ResponseImageGenCallCompletedEvent:
      type: object
      title: ResponseImageGenCallCompletedEvent
      description: 'Emitted when an image generation tool call has completed and the final image is available.

        '
      properties:
        type:
          type: string
          enum:
          - response.image_generation_call.completed
          description: The type of the event. Always 'response.image_generation_call.completed'.
        output_index:
          type: integer
          description: The index of the output item in the response's output array.
        sequence_number:
          type: integer
          description: The sequence number of this event.
        item_id:
          type: string
          description: The unique identifier of the image generation item being processed.
      required:
      - type
      - output_index
      - item_id
      - sequence_number
    ResponseError:
      type: object
      description: 'An error object returned when the model fails to generate a Response.

        '
      properties:
        code:
          $ref: '#/components/schemas/ResponseErrorCode'
        message:
          type: string
          description: 'A human-readable description of the error.

            '
      required:
      - code
      - message
      nullable: true
    ResponseAudioDeltaEvent:
      type: object
      description: Emitted when there is a partial audio response.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.audio.delta`.

            '
          enum:
          - response.audio.delta
        sequence_number:
          type: integer
          description: 'A sequence number for this chunk of the stream response.

            '
        delta:
          type: string
          description: 'A chunk of Base64 encoded response audio bytes.

            '
      required:
      - type
      - delta
      - sequence_number
    ApplyPatchDeleteFileOperation:
      properties:
        type:
          type: string
          enum:
          - delete_file
          description: Delete the specified file.
          default: delete_file
        path:
          type: string
          description: Path of the file to delete.
      type: object
      required:
      - type
      - path
      title: Apply patch delete file operation
      description: Instruction describing how to delete a file via the apply_patch tool.
    ToolChoiceMCP:
      type: object
      title: MCP tool
      description: 'Use this option to force the model to call a specific tool on a remote MCP server.

        '
      properties:
        type:
          type: string
          enum:
          - mcp
          description: For MCP tools, the type is always `mcp`.
        server_label:
          type: string
          description: 'The label of the MCP server to use.

            '
        name:
          type: string
          description: 'The name of the tool to call on the server.

            '
          nullable: true
      required:
      - type
      - server_label
    ItemResource:
      description: 'Content item used to generate a response.

        '
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: The type of the input item.
      required:
      - type
      anyOf:
      - $ref: '#/components/schemas/InputMessageResource'
      - $ref: '#/components/schemas/OutputMessage'
      - $ref: '#/components/schemas/FileSearchToolCall'
      - $ref: '#/components/schemas/ComputerToolCall'
      - $ref: '#/components/schemas/ComputerToolCallOutputResource'
      - $ref: '#/components/schemas/WebSearchToolCall'
      - $ref: '#/components/schemas/FunctionToolCallResource'
      - $ref: '#/components/schemas/FunctionToolCallOutputResource'
      - $ref: '#/components/schemas/ImageGenToolCall'
      - $ref: '#/components/schemas/CodeInterpreterToolCall'
      - $ref: '#/components/schemas/LocalShellToolCall'
      - $ref: '#/components/schemas/LocalShellToolCallOutput'
      - $ref: '#/components/schemas/FunctionShellCall'
      - $ref: '#/components/schemas/FunctionShellCallOutput'
      - $ref: '#/components/schemas/ApplyPatchToolCall'
      - $ref: '#/components/schemas/ApplyPatchToolCallOutput'
      - $ref: '#/components/schemas/MCPListTools'
      - $ref: '#/components/schemas/MCPApprovalRequest'
      - $ref: '#/components/schemas/MCPApprovalResponseResource'
      - $ref: '#/components/schemas/MCPToolCall'
    ResponseTextParam:
      type: object
      description: 'Configuration options for a text response. Supports plain text or structured JSON.

        '
      properties:
        format:
          $ref: '#/components/schemas/TextResponseFormatConfiguration'
        verbosity:
          $ref: '#/components/schemas/Verbosity'
    ResponseCodeInterpreterCallCodeDoneEvent:
      type: object
      description: Emitted when the code snippet is finalized by the code interpreter.
      properties:
        type:
          type: string
          description: The type of the event. Always `response.code_interpreter_call_code.done`.
          enum:
          - response.code_interpreter_call_code.done
        output_index:
          type: integer
          description: The index of the output item in the response for which the code is finalized.
        item_id:
          type: string
          description: The unique identifier of the code interpreter tool call item.
        code:
          type: string
          description: The final code snippet output by the code interpreter.
        sequence_number:
          type: integer
          description: The sequence number of this event, used to order streaming events.
      required:
      - type
      - output_index
      - item_id
      - code
      - sequence_number
    InputMessageResource:
      allOf:
      - $ref: '#/components/schemas/responses_InputMessage'
      - type: object
        properties:
          id:
            type: string
            description: 'The unique ID of the message input.

              '
        required:
        - id
    InputFidelity:
      type: string
      enum:
      - high
      - low
      description: Control how much effort the model will exert to match the style and features, especially facial features, of input images. This parameter is only supported for `gpt-image-1`. Unsupported for `gpt-image-1-mini`. Supports `high` and `low`. Defaults to `low`.
    TruncationEnum:
      type: string
      enum:
      - auto
      - disabled
    Prompt:
      type: object
      nullable: true
      description: 'Reference to a prompt template and its variables.

        '
      required:
      - id
      properties:
        id:
          type: string
          description: The unique identifier of the prompt template to use.
        version:
          type: string
          nullable: true
          description: Optional version of the prompt template.
        variables:
          $ref: '#/components/schemas/ResponsePromptVariables'
    MCPApprovalRequest:
      type: object
      title: MCP approval request
      description: 'A request for human approval of a tool invocation.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_approval_request
          default: mcp_approval_request
          description: 'The type of the item. Always `mcp_approval_request`.

            '
        id:
          type: string
          description: 'The unique ID of the approval request.

            '
        server_label:
          type: string
          description: 'The label of the MCP server making the request.

            '
        name:
          type: string
          description: 'The name of the tool to run.

            '
        arguments:
          type: string
          description: 'A JSON string of arguments for the tool.

            '
      required:
      - type
      - id
      - server_label
      - name
      - arguments
    FunctionShellCallOutputTimeoutOutcomeParam:
      properties:
        type:
          type: string
          enum:
          - timeout
          description: The outcome type. Always `timeout`.
          default: timeout
      type: object
      required:
      - type
      title: Function shell timeout outcome
      description: Indicates that the function shell call exceeded its configured time limit.
    ToolChoiceOptions:
      type: string
      title: Tool choice mode
      description: 'Controls which (if any) tool is called by the model.


        `none` means the model will not call any tool and instead generates a message.


        `auto` means the model can pick between generating a message or calling one or

        more tools.


        `required` means the model must call one or more tools.

        '
      enum:
      - none
      - auto
      - required
    ImageDetail:
      type: string
      enum:
      - low
      - high
      - auto
    responses_Tool:
      description: 'A tool that can be used to generate a response.

        '
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/FunctionTool'
      - $ref: '#/components/schemas/FileSearchTool'
      - $ref: '#/components/schemas/ComputerUsePreviewTool'
      - $ref: '#/components/schemas/WebSearchTool'
      - $ref: '#/components/schemas/MCPTool'
      - $ref: '#/components/schemas/CodeInterpreterTool'
      - $ref: '#/components/schemas/ImageGenTool'
      - $ref: '#/components/schemas/LocalShellToolParam'
      - $ref: '#/components/schemas/FunctionShellToolParam'
      - $ref: '#/components/schemas/CustomToolParam'
      - $ref: '#/components/schemas/WebSearchPreviewTool'
      - $ref: '#/components/schemas/ApplyPatchToolParam'
    LocalShellToolParam:
      properties:
        type:
          type: string
          enum:
          - local_shell
          description: The type of the local shell tool. Always `local_shell`.
          default: local_shell
      type: object
      required:
      - type
      title: Local shell tool
      description: A tool that allows the model to execute shell commands in a local environment.
    Item:
      type: object
      description: 'Content item used to generate a response.

        '
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: The type of the input item.
      required:
      - type
      anyOf:
      - $ref: '#/components/schemas/responses_InputMessage'
      - $ref: '#/components/schemas/OutputMessage'
      - $ref: '#/components/schemas/FileSearchToolCall'
      - $ref: '#/components/schemas/ComputerToolCall'
      - $ref: '#/components/schemas/ComputerCallOutputItemParam'
      - $ref: '#/components/schemas/WebSearchToolCall'
      - $ref: '#/components/schemas/FunctionToolCall'
      - $ref: '#/components/schemas/FunctionCallOutputItemParam'
      - $ref: '#/components/schemas/ReasoningItem'
      - $ref: '#/components/schemas/CompactionSummaryItemParam'
      - $ref: '#/components/schemas/ImageGenToolCall'
      - $ref: '#/components/schemas/CodeInterpreterToolCall'
      - $ref: '#/components/schemas/LocalShellToolCall'
      - $ref: '#/components/schemas/LocalShellToolCallOutput'
      - $ref: '#/components/schemas/FunctionShellCallItemParam'
      - $ref: '#/components/schemas/FunctionShellCallOutputItemParam'
      - $ref: '#/components/schemas/ApplyPatchToolCallItemParam'
      - $ref: '#/components/schemas/ApplyPatchToolCallOutputItemParam'
      - $ref: '#/components/schemas/MCPListTools'
      - $ref: '#/components/schemas/MCPApprovalRequest'
      - $ref: '#/components/schemas/MCPApprovalResponse'
      - $ref: '#/components/schemas/MCPToolCall'
      - $ref: '#/components/schemas/CustomToolCallOutput'
      - $ref: '#/components/schemas/CustomToolCall'
    FileSearchTool:
      properties:
        type:
          type: string
          enum:
          - file_search
          description: The type of the file search tool. Always `file_search`.
          default: file_search
        vector_store_ids:
          items:
            type: string
          type: array
          description: The IDs of the vector stores to search.
        max_num_results:
          type: integer
          description: The maximum number of results to return. This number should be between 1 and 50 inclusive.
        ranking_options:
          $ref: '#/components/schemas/RankingOptions'
          description: Ranking options for search.
        filters:
          $ref: '#/components/schemas/Filters'
          description: A filter to apply.
          nullable: true
      type: object
      required:
      - type
      - vector_store_ids
      title: File search
      description: Searches uploaded files for relevant content. See the file search guide.
    MCPToolFilter:
      type: object
      title: MCP tool filter
      description: 'A filter object to specify which tools are allowed.

        '
      properties:
        tool_names:
          type: array
          title: MCP allowed tools
          items:
            type: string
          description: List of allowed tool names.
        read_only:
          type: boolean
          description: 'Indicates whether or not a tool modifies data or is read-only. If an

            MCP server is [annotated with `readOnlyHint`](https://modelcontextprotocol.io/specification/2025-06-18/schema#toolannotations-readonlyhint),

            it will match this filter.

            '
      required: []
      additionalProperties: false
    InputFileContentParam:
      properties:
        type:
          type: string
          enum:
          - input_file
          description: The type of the input item. Always `input_file`.
          default: input_file
        file_id:
          type: string
          nullable: true
          description: The ID of the file to be sent to the model.
        filename:
          type: string
          nullable: true
          description: The name of the file to be sent to the model.
        file_data:
          type: string
          maxLength: 33554432
          nullable: true
          description: The base64-encoded data of the file to be sent to the model.
        file_url:
          type: string
          nullable: true
          description: The URL of the file to be sent to the model.
      type: object
      required:
      - type
      title: Input file
      description: A file input to the model.
    ApplyPatchUpdateFileOperation:
      properties:
        type:
          type: string
          enum:
          - update_file
          description: Update an existing file with the provided diff.
          default: update_file
        path:
          type: string
          description: Path of the file to update.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch update file operation
      description: Instruction describing how to update a file via the apply_patch tool.
    ResponseMCPListToolsInProgressEvent:
      type: object
      title: ResponseMCPListToolsInProgressEvent
      description: 'Emitted when the system is in the process of retrieving the list of available MCP tools.

        '
      properties:
        type:
          type: string
          enum:
          - response.mcp_list_tools.in_progress
          description: The type of the event. Always 'response.mcp_list_tools.in_progress'.
        item_id:
          type: string
          description: The ID of the MCP tool call item that is being processed.
        output_index:
          type: integer
          description: The index of the output item that is being processed.
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - item_id
      - output_index
      - sequence_number
    Error:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
        param:
          type: string
          nullable: true
        type:
          type: string
      required:
      - type
      - message
      - param
      - code
    ResponseFailedEvent:
      type: object
      description: 'An event that is emitted when a response fails.

        '
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.failed`.

            '
          enum:
          - response.failed
        sequence_number:
          type: integer
          description: The sequence number of this event.
        response:
          $ref: '#/components/schemas/Response'
          description: 'The response that failed.

            '
      required:
      - type
      - response
      - sequence_number
    ModelResponseProperties:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/responses_Metadata'
        top_logprobs:
          description: 'An integer between 0 and 20 specifying the number of most likely tokens to

            return at each token position, each with an associated log probability.

            '
          type: integer
          minimum: 0
          maximum: 20
          nullable: true
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
          description: 'What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.

            We generally recommend altering this or `top_p` but not both.

            '
          nullable: true
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          description: 'An alternative to sampling with temperature, called nucleus sampling,

            where the model considers the results of the tokens with top_p probability

            mass. So 0.1 means only the tokens comprising the top 10% probability mass

            are considered.


            We generally recommend altering this or `temperature` but not both.

            '
          nullable: true
        user:
          type: string
          deprecated: true
          description: 'Deprecated in favor of `safety_identifier` and `prompt_cache_key`; use `prompt_cache_key` to maintain caching. A stable end-user identifier to improve cache hit rates and help detect abuse.

            '
        safety_identifier:
          type: string
          description: 'A stable identifier used to help detect users who may violate usage policies. Use a unique per-user string (e.g., a hash of username or email) to avoid sending identifying information.

            '
        prompt_cache_key:
          type: string
          description: 'Used to cache responses for similar requests and improve cache hit rates. Replaces the `user` field.

            '
        service_tier:
          $ref: '#/components/schemas/ServiceTier'
        prompt_cache_retention:
          type: string
          enum:
          - in-memory
          - 24h
          description: 'Retention policy for the prompt cache. Set to `24h` to keep cached prefixes active longer (up to 24 hours).

            '
          nullable: true
    FileSearchToolCall:
      type: object
      title: File search tool call
      description: 'The results of a file search tool call. See the file search guide for more information.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the file search tool call.

            '
        type:
          type: string
          enum:
          - file_search_call
          default: file_search_call
          description: 'The type of the file search tool call. Always `file_search_call`.

            '
        status:
          type: string
          description: 'The status of the file search tool call. One of `in_progress`,

            `searching`, `incomplete` or `failed`,

            '
          enum:
          - in_progress
          - searching
          - completed
          - incomplete
          - failed
        queries:
          type: array
          items:
            type: string
          description: 'The queries used to search for files.

            '
        results:
          type: array
          description: 'The results of the file search tool call.

            '
          items:
            type: object
            properties:
              file_id:
                type: string
                description: 'The unique ID of the file.

                  '
              text:
                type: string
                description: 'The text that was retrieved from the file.

                  '
              filename:
                type: string
                description: 'The name of the file.

                  '
              attributes:
                $ref: '#/components/schemas/VectorStoreFileAttributes'
              score:
                type: number
                format: float
                description: 'The relevance score of the file - a value between 0 and 1.

                  '
          nullable: true
    ImageGenToolCall:
      type: object
      title: Image generation call
      description: 'An image generation request made by the model.

        '
      properties:
        type:
          type: string
          enum:
          - image_generation_call
          default: image_generation_call
          description: 'The type of the image generation call. Always `image_generation_call`.

            '
        id:
          type: string
          description: 'The unique ID of the image generation call.

            '
        status:
          type: string
          enum:
          - in_progress
          - completed
          - generating
          - failed
          description: 'The status of the image generation call.

            '
        result:
          type: string
          description: 'The generated image encoded in base64.

            '
          nullable: true
      required:
      - type
      - id
      - status
      - result
    ResponseReasoningSummaryTextDeltaEvent:
      type: object
      description: Emitted when a delta is added to a reasoning summary text.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.reasoning_summary_text.delta`.

            '
          enum:
          - response.reasoning_summary_text.delta
        item_id:
          type: string
          description: 'The ID of the item this summary text delta is associated with.

            '
        output_index:
          type: integer
          description: 'The index of the output item this summary text delta is associated with.

            '
        summary_index:
          type: integer
          description: 'The index of the summary part within the reasoning summary.

            '
        delta:
          type: string
          description: 'The text delta that was added to the summary.

            '
        sequence_number:
          type: integer
          description: 'The sequence number of this event.

            '
      required:
      - type
      - item_id
      - output_index
      - summary_index
      - delta
      - sequence_number
    ResponseIncompleteEvent:
      type: object
      description: 'An event that is emitted when a response finishes as incomplete.

        '
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.incomplete`.

            '
          enum:
          - response.incomplete
        response:
          $ref: '#/components/schemas/Response'
          description: 'The response that was incomplete.

            '
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - response
      - sequence_number
    ResponseContentPartDoneEvent:
      type: object
      description: Emitted when a content part is done.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.content_part.done`.

            '
          enum:
          - response.content_part.done
        item_id:
          type: string
          description: 'The ID of the output item that the content part was added to.

            '
        output_index:
          type: integer
          description: 'The index of the output item that the content part was added to.

            '
        content_index:
          type: integer
          description: 'The index of the content part that is done.

            '
        sequence_number:
          type: integer
          description: The sequence number of this event.
        part:
          $ref: '#/components/schemas/OutputContent'
          description: 'The content part that is done.

            '
      required:
      - type
      - item_id
      - output_index
      - content_index
      - part
      - sequence_number
    WebSearchTool:
      type: object
      title: Web search
      description: 'Search the internet for sources related to the prompt. Learn more in the web search tool guide.

        '
      properties:
        type:
          type: string
          enum:
          - web_search
          - web_search_2025_08_26
          description: The type of the web search tool. One of `web_search` or `web_search_2025_08_26`.
          default: web_search
        filters:
          type: object
          description: 'Filters for the search.

            '
          properties:
            allowed_domains:
              type: array
              title: Allowed domains for the search.
              description: 'Allowed domains for the search. If not provided, all domains are allowed.

                Subdomains of the provided domains are allowed as well.


                Example: `["pubmed.ncbi.nlm.nih.gov"]`

                '
              items:
                type: string
                description: Allowed domain for the search.
              default: []
              nullable: true
          nullable: true
        user_location:
          $ref: '#/components/schemas/WebSearchApproximateLocation'
        search_context_size:
          type: string
          enum:
          - low
          - medium
          - high
          default: medium
          description: High level guidance for the amount of context window space to use for the search. One of `low`, `medium`, or `high`. `medium` is the default.
      required:
      - type
    CodeInterpreterOutputImage:
      properties:
        type:
          type: string
          enum:
          - image
          description: The type of the output. Always `image`.
          default: image
        url:
          type: string
          description: The URL of the image output from the code interpreter.
      type: object
      required:
      - type
      - url
      title: Code interpreter output image
      description: The image output from the code interpreter.
    responses_InputMessage:
      type: object
      title: Input message
      description: 'A message input to the model with a role indicating instruction following

        hierarchy. Instructions given with the `developer` or `system` role take

        precedence over instructions given with the `user` role.

        '
      properties:
        type:
          type: string
          description: 'The type of the message input. Always set to `message`.

            '
          enum:
          - message
          default: message
        role:
          type: string
          description: 'The role of the message input. One of `user`, `system`, or `developer`.

            '
          enum:
          - user
          - system
          - developer
        status:
          type: string
          description: 'The status of item. One of `in_progress`, `completed`, or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
        content:
          $ref: '#/components/schemas/InputMessageContentList'
      required:
      - role
      - content
    InputContent:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
    InputMessageContentList:
      type: array
      title: Input item content list
      description: "A list of one or many input items to the model, containing different content \ntypes.\n"
      items:
        $ref: '#/components/schemas/InputContent'
    FunctionShellCallOutputOutcomeParam:
      title: Function shell call outcome
      description: The exit or timeout outcome associated with this chunk.
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/FunctionShellCallOutputTimeoutOutcomeParam'
      - $ref: '#/components/schemas/FunctionShellCallOutputExitOutcomeParam'
    ResponseRefusalDoneEvent:
      type: object
      description: Emitted when refusal text is finalized.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.refusal.done`.

            '
          enum:
          - response.refusal.done
        item_id:
          type: string
          description: 'The ID of the output item that the refusal text is finalized.

            '
        output_index:
          type: integer
          description: 'The index of the output item that the refusal text is finalized.

            '
        content_index:
          type: integer
          description: 'The index of the content part that the refusal text is finalized.

            '
        refusal:
          type: string
          description: 'The refusal text that is finalized.

            '
        sequence_number:
          type: integer
          description: 'The sequence number of this event.

            '
      required:
      - type
      - item_id
      - output_index
      - content_index
      - refusal
      - sequence_number
    FunctionToolCallResource:
      allOf:
      - $ref: '#/components/schemas/FunctionToolCall'
      - type: object
        properties:
          id:
            type: string
            description: 'The unique ID of the function tool call.

              '
        required:
        - id
    TokenCountsResource:
      properties:
        object:
          type: string
          enum:
          - response.input_tokens
          default: response.input_tokens
        input_tokens:
          type: integer
      type: object
      required:
      - object
      - input_tokens
      title: Token counts
    ResponseStreamOptions:
      description: 'Options for streaming responses. Only set this when you set `stream: true`.

        '
      type: object
      properties:
        include_obfuscation:
          type: boolean
          description: 'When true, stream obfuscation will be enabled. Stream obfuscation adds

            random characters to an `obfuscation` field on streaming delta events to

            normalize payload sizes as a mitigation to certain side-channel attacks.

            These obfuscation fields are included by default, but add a small amount

            of overhead to the data stream. You can set `include_obfuscation` to

            false to optimize for bandwidth if you trust the network links between

            your application and the API.

            '
      nullable: true
    ResponseInProgressEvent:
      type: object
      description: Emitted when the response is in progress.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.in_progress`.

            '
          enum:
          - response.in_progress
        response:
          $ref: '#/components/schemas/Response'
          description: 'The response that is in progress.

            '
        sequence_number:
          type: integer
          description: The sequence number of this event.
      required:
      - type
      - response
      - sequence_number
    ResponseOutputItemAddedEvent:
      type: object
      description: Emitted when a new output item is added.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.output_item.added`.

            '
          enum:
          - response.output_item.added
        output_index:
          type: integer
          description: 'The index of the output item that was added.

            '
        sequence_number:
          type: integer
          description: 'The sequence number of this event.

            '
        item:
          $ref: '#/components/schemas/OutputItem'
          description: 'The output item that was added.

            '
      required:
      - type
      - output_index
      - item
      - sequence_number
    HybridSearchOptions:
      properties:
        embedding_weight:
          type: number
          description: The weight of the embedding in the reciprocal ranking fusion.
        text_weight:
          type: number
          description: The weight of the text in the reciprocal ranking fusion.
      type: object
      required:
      - embedding_weight
      - text_weight
    ResponseTextDeltaEvent:
      type: object
      description: Emitted when there is an additional text delta.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.output_text.delta`.

            '
          enum:
          - response.output_text.delta
        item_id:
          type: string
          description: 'The ID of the output item that the text delta was added to.

            '
        output_index:
          type: integer
          description: 'The index of the output item that the text delta was added to.

            '
        content_index:
          type: integer
          description: 'The index of the content part that the text delta was added to.

            '
        delta:
          type: string
          description: 'The text delta that was added.

            '
        sequence_number:
          type: integer
          description: The sequence number for this event.
        logprobs:
          type: array
          description: 'The log probabilities of the tokens in the delta.

            '
          items:
            $ref: '#/components/schemas/ResponseLogProb'
      required:
      - type
      - item_id
      - output_index
      - content_index
      - delta
      - sequence_number
      - logprobs
    ResponseTextDoneEvent:
      type: object
      description: Emitted when text content is finalized.
      properties:
        type:
          type: string
          description: 'The type of the event. Always `response.output_text.done`.

            '
          enum:
          - response.output_text.done
        item_id:
          type: string
          description: 'The ID of the output item that the text content is finalized.

            '
        output_index:
          type: integer
          description: 'The index of the output item that the text content is finalized.

            '
        content_index:
          type: integer
          description: 'The index of the content part that the text content is finalized.

            '
        text:
          type: string
          description: 'The text content that is finalized.

            '
        sequence_number:
          type: integer
          description: The sequence number for this event.
        logprobs:
          type: array
          description: 'The log probabilities of the tokens in the delta.

            '
          items:
            $ref: '#/components/schemas/ResponseLogProb'
      required:
      - type
      - item_id
      - output_index
      - content_index
      - text
      - sequence_number
      - logprobs
    ToolChoiceAllowed:
      type: object
      title: Allowed tools
      description: 'Constrains the tools available to the model to a pre-defined set.

        '
      properties:
        type:
          type: string
          enum:
          - allowed_tools
          description: Allowed tool configuration type. Always `allowed_tools`.
        mode:
          type: string
          enum:
          - auto
          - required
          description: 'Constrains the tools available to the model to a pre-defined set.


            `auto` allows the model to pick from among the allowed tools and generate a

            message.


            `required` requires the model to call one or more of the allowed tools.

            '
        tools:
          type: array
          description: "A list of tool definitions that the model should be allowed to call.\n\nFor the Responses API, the list of tool definitions might look like:\n```json\n[\n  { \"type\": \"function\", \"name\": \"get_weather\" },\n  { \"type\": \"mcp\", \"server_label\": \"deepwiki\" },\n  { \"type\": \"image_generation\" }\n]\n```\n"
          items:
            type: object
            description: 'A tool definition that the model should be allowed to call.

              '
            additionalProperties: true
      required:
      - type
      - mode
      - tools
    Move:
      type: object
      title: Move
      description: 'A mouse move action.

        '
      properties:
        type:
          type: string
          enum:
          - move
          default: move
          description: "Specifies the event type. For a move action, this property is \nalways set to `move`.\n"
        x:
          type: integer
          description: 'The x-coordinate to move to.

            '
        y:
          type: integer
          description: 'The y-coordinate to move to.

            '
      required:
      - type
      - x
      - y
    ComputerEnvironment:
      type: string
      enum:
      - windows
      - mac
      - linux
      - ubuntu
      - browser
    ComputerCallSafetyCheckParam:
      properties:
        id:
          type: string
          description: The ID of the pending safety check.
        code:
          type: string
          description: The type of the pending safety check.
          nullable: true
        message:
          type: string
          description: Details about the pending safety check.
          nullable: true
      type: object
      required:
      - id
      description: A pending safety check for the computer call.
    MCPApprovalResponse:
      type: object
      title: MCP approval response
      description: 'A response to an MCP approval request.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_approval_response
          default: mcp_approval_response
          description: 'The type of the item. Always `mcp_approval_response`.

            '
        id:
          type: string
          description: 'The unique ID of the approval response

            '
          nullable: true
        approval_request_id:
          type: string
          description: 'The ID of the approval request being answered.

            '
        approve:
          type: boolean
          description: 'Whether the request was approved.

            '
        reason:
          type: string
          description: 'Optional reason for the decision.

            '
          nullable: true
      required:
      - type
      - request_id
      - approve
      - approval_request_id
    ApplyPatchCreateFileOperation:
      properties:
        type:
          type: string
          enum:
          - create_file
          description: Create a new file with the provided diff.
          default: create_file
        path:
          type: string
          description: Path of the file to create.
        diff:
          type: string
          description: Diff to apply.
      type: object
      required:
      - type
      - path
      - diff
      title: Apply patch create file operation
      description: Instruction describing how to create a file via the apply_patch tool.
    MCPToolCallStatus:
      type: string
      enum:
      - in_progress
      - completed
      - incomplete
      - calling
      - failed
    CreateResponseRequest:
      allOf:
      - $ref: '#/components/schemas/CreateModelResponseProperties'
      - $ref: '#/components/schemas/ResponseProperties'
      - type: object
        properties:
          input:
            $ref: '#/components/schemas/InputParam'
          include:
            type: array
            description: 'Specify additional output data to include in the model response. Currently supported values are:

              - `web_search_call.action.sources`: Include the sources of the web search tool call.

              - `code_interpreter_call.outputs`: Includes the outputs of python code execution in code interpreter tool call items.

              - `computer_call_output.output.image_url`: Include image urls from the computer call output.

              - `file_search_call.results`: Include the search results of the file search tool call.

              - `message.input_image.image_url`: Include image urls from the input message.

              - `message.output_text.logprobs`: Include logprobs with assistant messages.

              - `reasoning.encrypted_content`: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the `store` parameter is set to `false`, or when an organization is enrolled in the zero data retention program).'
            items:
              $ref: '#/components/schemas/IncludeEnum'
            nullable: true
          parallel_tool_calls:
            type: boolean
            description: 'Whether to allow the model to run tool calls in parallel.

              '
            default: true
            nullable: true
          store:
            type: boolean
            description: 'Whether to store the generated model response for later retrieval via

              API.

              '
            default: true
            nullable: true
          instructions:
            type: string
            description: 'A system (or developer) message inserted into the model''s context.


              When using along with `previous_response_id`, the instructions from a previous

              response will not be carried over to the next response. This makes it simple

              to swap out system (or developer) messages in new responses.

              '
            nullable: true
          stream:
            description: 'If set to true, the model response data will be streamed to the client

              as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

              '
            type: boolean
            default: false
            nullable: true
          stream_options:
            $ref: '#/components/schemas/ResponseStreamOptions'
          conversation:
            $ref: '#/components/schemas/ConversationParam'
            nullable: true
    DetailEnum:
      type: string
      enum:
      - low
      - high
      - auto
    responses_Annotation:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/FileCitationBody'
      - $ref: '#/components/schemas/UrlCitationBody'
      - $ref: '#/components/schemas/ContainerFileCitationBody'
      - $ref: '#/components/schemas/FilePath'
    ToolChoiceTypes:
      type: object
      title: Hosted tool
      description: 'Indicates that the model should use a built-in tool to generate a response.

        Use this to select a specific hosted capability.

        '
      properties:
        type:
          type: string
          description: "The type of hosted tool the model should to use. \n\nAllowed values are:\n- `file_search`\n- `web_search_preview`\n- `computer_use_preview`\n- `code_interpreter`\n- `image_generation`\n"
          enum:
          - file_search
          - web_search_preview
          - computer_use_preview
          - web_search_preview_2025_03_11
          - image_generation
          - code_interpreter
      required:
      - type
    ApplyPatchToolCallOutputItemParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch_call_output
          description: The type of the item. Always `apply_patch_call_output`.
          default: apply_patch_call_output
        id:
          type: string
          description: The unique ID of the apply patch tool call output. Populated when this item is returned via API.
          nullable: true
        call_id:
          type: string
          maxLength: 64
          minLength: 1
          description: The unique ID of the apply patch tool call generated by the model.
        status:
          $ref: '#/components/schemas/ApplyPatchCallOutputStatusParam'
          description: The status of the apply patch tool call output. One of `completed` or `failed`.
        output:
          type: string
          maxLength: 10485760
          description: Optional human-readable log text from the apply patch tool (e.g., patch results or errors).
          nullable: true
      type: object
      required:
      - type
      - call_id
      - status
      title: Apply patch tool call output
      description: The streamed output emitted by an apply patch tool call.
    responses_ResponseFormatJsonSchemaSchema:
      type: object
      title: JSON schema
      description: 'The schema for the response format, described as a JSON Schema object.

        Learn how to build JSON schemas [here](https://json-schema.org/).

        '
      additionalProperties: true
    FunctionTool:
      properties:
        type:
          type: string
          enum:
          - function
          description: The type of the function tool. Always `function`.
          default: function
        name:
          type: string
          description: The name of the function to call.
        description:
          type: string
          nullable: true
          description: A description of the function. Used by the model to determine whether or not to call the function.
        parameters:
          type: object
          nullable: true
          additionalProperties: {}
          description: A JSON schema object describing the parameters of the function.
        strict:
          type: boolean
          nullable: true
          description: Whether to enforce strict parameter validation. Default `true`.
      type: object
      required:
      - type
      - name
      - strict
      - parameters
      title: Function
      description: Defines a function in your code that the model can call.
    ResponseCodeInterpreterCallInProgressEvent:
      type: object
      description: Emitted when a code interpreter call is in progress.
      properties:
        type:
          type: string
[...]
