openapi: 3.0.0
info:
  title: Nexos AI Public API Production
  version: 1.0.0
servers:
- url: https://api.nexos.ai
security:
- bearerAuth: []
- apiKeyHeader: []
tags:
- name: Agent Management
  description: Manage agents.
- name: Assistant Management
  description: Manage assistants.
- name: Audio
  description: Generate audio or text from audio or text input.
- name: Batches
  description: Create and run large groups of requests asynchronously. Batches are only available for
    OpenAI models.
- name: Budget Limit Management
  description: Manage company budget limits.
- name: Chat
  description: Generate a response from conversation messages.
- name: Company Management
  description: List company API keys and their usage.
- name: Embeddings
  description: Create vector embeddings for input text.
- name: Files
  description: Upload and manage files used by other endpoints.
- name: Images
  description: Generate images from image or text input.
- name: Messages
  description: Anthropic-native Messages API for prompt-cache-preserving passthrough.
- name: Models
  description: List available models.
- name: Responses
  description: Create and manage model responses.
- name: Storage
  description: Upload and manage media files.
- name: Team Management
  description: Manage teams, API keys, and models.
- name: User Management
  description: Manage user API keys.
paths:
  /v1/agents:
    get:
      operationId: get-agents-v1
      summary: List agents for a specific user
      tags:
      - Agent Management
      description: Retrieve list of agents for a specific user.
      parameters:
      - name: limit
        in: query
        required: false
        description: The number of items to return.
        schema:
          type: integer
          format: int64
          default: 100
          minimum: 1
          maximum: 200
      - name: offset
        in: query
        required: false
        description: The number of items to skip.
        schema:
          type: integer
          format: int64
      - name: sort_by.field
        in: query
        schema:
          $ref: '#/components/schemas/AgentSortByField'
        description: Field to sort by, must be used together with sort_by.order.
      - name: sort_by.order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AgentSortOrder'
        description: Sort order, must be used together with sort_by.field.
      - name: include_shared
        in: query
        required: false
        description: Whether to include agents shared with the user.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          $ref: '#/components/responses/AgentListResponse'
        '404':
          description: Agent not found.
  /v1/assistants:
    get:
      operationId: get-assistants-v1
      deprecated: true
      summary: List assistants for a specific user. Deprecated, use /v1/agents instead.
      tags:
      - Assistant Management
      description: 'Deprecated: Use /v1/agents instead. Retrieve list of assistants for a specific user.'
      parameters:
      - name: limit
        in: query
        required: false
        description: The number of items to return.
        schema:
          type: integer
          format: int64
          default: 100
          minimum: 1
          maximum: 200
      - name: offset
        in: query
        required: false
        description: The number of items to skip.
        schema:
          type: integer
          format: int64
      - name: sort_by.field
        in: query
        schema:
          $ref: '#/components/schemas/SortByField'
        description: Field to sort by, must be used together with sort_by.order.
      - name: sort_by.order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        description: Sort order, must be used together with sort_by.field.
      - name: include_shared
        in: query
        required: false
        description: Whether to include assistants shared with the user.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          $ref: '#/components/responses/AssistantListResponse'
        '404':
          description: Assistant not found.
  /v1/audio/speech:
    post:
      operationId: post-audio-speech-v1
      summary: Create speech
      tags:
      - Audio
      description: Generate speech audio from text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeechRequest'
      responses:
        '200':
          description: Successful response with an audio speech.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/audio/transcriptions:
    post:
      operationId: post-audio-transcriptions-v1
      summary: Create transcription
      tags:
      - Audio
      description: Transcribe audio to text.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TranscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/TranscriptionResponseJson'
                - $ref: '#/components/schemas/TranscriptionResponseVerboseJson'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/audio/translations:
    post:
      operationId: post-audio-translations-v1
      summary: Create translation
      tags:
      - Audio
      description: Translate audio to English text.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/TranslationResponseJson'
                - $ref: '#/components/schemas/TranslationResponseVerboseJson'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/batches:
    post:
      tags:
      - Batches
      operationId: post-batches-v1
      summary: Create batch
      description: 'Create and immediately start a batch from a file of requests that was uploaded beforehand.


        Batches are only available for OpenAI models.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchesRequest'
      responses:
        '200':
          $ref: '#/components/responses/BatchesResponse'
        '400':
          description: Invalid request data.
        '500':
          description: Server error.
  /v1/batches/{batch_id}:
    get:
      tags:
      - Batches
      operationId: get-batch-v1
      summary: Retrieve batch
      description: Look up a single batch by its ID, including its current status and metadata.
      parameters:
      - name: batch_id
        in: path
        required: true
        description: The ID of the batch to retrieve
        schema:
          type: string
      - name: model
        in: query
        schema:
          type: string
        deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/BatchesResponse'
        '400':
          description: Invalid batch ID format or malformed request
        '404':
          description: Batch not found
        '500':
          description: Internal server error
  /v1/companies/{companyId}/budget_limits:
    get:
      operationId: get-company-budget-limits-v1
      summary: List budget limits for a company
      tags:
      - Budget Limit Management
      description: Retrieve all budget limits for a specific company.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          format: uint32
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of items to skip.
        schema:
          type: integer
          format: uint32
          minimum: 0
      responses:
        '200':
          $ref: '#/components/responses/CompanyBudgetLimitListResponse'
        '500':
          description: Server error.
        4XX:
          description: Client error.
    put:
      operationId: put-company-budget-limits-v1
      summary: Upsert a budget limit
      tags:
      - Budget Limit Management
      description: Create or update a budget limit for a company.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyBudgetLimitRequest'
      responses:
        '200':
          $ref: '#/components/responses/CompanyBudgetLimitResponse'
        '400':
          description: Invalid request data.
    delete:
      operationId: delete-company-budget-limits-v1
      summary: Delete a budget limit
      tags:
      - Budget Limit Management
      description: Delete a specific budget limit for a company.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCompanyBudgetLimitRequest'
      responses:
        '204':
          description: Budget limit deleted successfully.
        '404':
          description: Budget limit not found.
  /v1/companies/{companyId}/budget_limits/bulk:
    put:
      operationId: put-company-budget-limits-bulk-v1
      summary: Bulk upsert and delete budget limits
      tags:
      - Budget Limit Management
      description: 'Apply many budget-limit changes for a company in a single call. Each item is upserted
        by default; items with `remove: true` delete the matching row identified by `(company_uuid, target_type,
        target_uuid, limit_type)`.'
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertCompanyBudgetLimitRequest'
      responses:
        '200':
          $ref: '#/components/responses/CompanyBudgetLimitListResponse'
        '400':
          description: Invalid request data.
  /v1/chat/completions:
    post:
      tags:
      - Chat
      operationId: post-chat-completions-v1
      summary: Create chat completion
      description: Generate a response from conversation messages.
      parameters:
      - in: query
        name: fallbacks
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        description: To use or not fallbacks in chat completion request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChatCompletionsResponse'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/companies/{companyId}/api_keys/with_usage:
    get:
      operationId: get-company-api-keys-with-usage-v1
      tags:
      - Company Management
      summary: List all company API keys with last usage time
      description: Returns all API keys (user and team) for the company with pagination and sorting.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Number of records per page.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Number of records to skip.
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: sort_by_field
        in: query
        required: false
        description: 'Sort field: name, key_owner, last_used_at, status.'
        schema:
          type: string
          enum:
          - name
          - key_owner
          - budget_used
          - budget_limit
          - status
          - last_used_at
      - name: sort_by_order
        in: query
        required: false
        description: 'Sort order: asc, desc.'
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: name
        in: query
        required: false
        description: Filter by API key name (partial match).
        schema:
          type: string
      - name: owner_uuid
        in: query
        required: false
        description: Filter by owner UUID (user or team).
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/CompanyAPIKeysResponse'
  /v1/companies/{companyId}/users/api_keys/with_usage:
    get:
      operationId: get-company-user-api-keys-with-usage-v1
      tags:
      - Company Management
      summary: List company user API keys aggregated by owner
      description: Returns the company's user API keys aggregated by owner, with usage and budget information.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: sort_by_field
        in: query
        required: false
        description: 'Field to sort by: owner_name, status, key_count, budget_used, budget_limit.'
        schema:
          type: string
          enum:
          - owner_name
          - key_count
          - budget_used
          - budget_limit
      - name: sort_by_order
        in: query
        required: false
        description: 'Sort order: asc, desc.'
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: owner_name
        in: query
        required: false
        description: Filter by owner name (partial match).
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UserAPIKeyOwnersResponse'
  /v1/companies/{companyId}/users/{userId}/api_keys/with_usage:
    get:
      operationId: list-user-api-keys-with-usage-v1
      tags:
      - Company Management
      summary: List user API keys with last usage time
      description: Returns all API keys of a specific user in the company, with last usage time.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: userId
        in: path
        required: true
        description: The UUID of the user.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: name
        in: query
        required: false
        description: Filter by API key name (partial match).
        schema:
          type: string
      - name: sort_by_field
        in: query
        required: false
        description: 'Field to sort by: name, owner_name, last_used_at, status, budget_limit, budget_used.'
        schema:
          type: string
          enum:
          - name
          - last_used_at
          - owner_name
          - status
      - name: sort_by_order
        in: query
        required: false
        description: 'Sort order: asc, desc.'
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          $ref: '#/components/responses/UserAPIKeysWithUsageResponse'
  /v1/companies/{companyId}/teams/api_keys/with_usage:
    get:
      operationId: get-company-team-api-keys-with-usage-v1
      tags:
      - Company Management
      summary: List company team API keys aggregated by team
      description: Returns the company's team API keys aggregated by team, with usage and budget information.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: sort_by_field
        in: query
        required: false
        description: 'Field to sort by: team_name, status, key_count, budget_used, budget_limit.'
        schema:
          type: string
          enum:
          - team_name
          - key_count
          - budget_used
          - budget_limit
      - name: sort_by_order
        in: query
        required: false
        description: 'Sort order: asc, desc.'
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: team_name
        in: query
        required: false
        description: Filter by team name (partial match).
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/TeamAPIKeyOwnersResponse'
  /v1/companies/{companyId}/teams/{teamId}/api_keys/with_usage:
    get:
      operationId: list-team-api-keys-with-usage-v1
      tags:
      - Company Management
      summary: List team API keys with last usage time
      description: Returns all API keys of a specific team in the company, with last usage time.
      parameters:
      - name: companyId
        in: path
        required: true
        description: The UUID of the company.
        schema:
          type: string
      - name: teamId
        in: path
        required: true
        description: The UUID of the team.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of items to return.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of items to skip.
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: name
        in: query
        required: false
        description: Filter by API key name (partial match).
        schema:
          type: string
      - name: sort_by_field
        in: query
        required: false
        description: 'Field to sort by: name, owner_name, last_used_at.'
        schema:
          type: string
          enum:
          - name
          - last_used_at
          - owner_name
      - name: sort_by_order
        in: query
        required: false
        description: 'Sort order: asc, desc.'
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          $ref: '#/components/responses/TeamAPIKeysWithUsageResponse'
  /v1/embeddings:
    post:
      operationId: post-embeddings-v1
      summary: Create embeddings
      tags:
      - Embeddings
      description: Get a vector representation of a given input that can be easily consumed by machine
        learning models and algorithms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmbeddingsResponse'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/files:
    get:
      operationId: get-files-v1
      summary: List files
      tags:
      - Files
      description: Return the list of files that have been uploaded.
      parameters:
      - name: after
        in: query
        description: A cursor for use in pagination. after is an object ID that defines your place in
          the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo,
          your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: A limit on the number of objects to be returned. Limit can range between 1 and 10,000,
          and the default is 10,000.
        required: false
        schema:
          type: integer
          format: uint32
          minimum: 1
          default: 10000
      - name: order
        in: query
        description: Sort order by the created_at timestamp of the objects. asc for ascending order and
          desc for descending order.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: purpose
        in: query
        description: Only return files with the given purpose.
        required: false
        schema:
          $ref: '#/components/schemas/FilePurposeType'
      responses:
        '200':
          description: Successful response with list of files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
        '500':
          description: Server error.
        4XX:
          description: Client error.
    post:
      operationId: post-files-v1
      summary: Upload file
      tags:
      - Files
      description: Upload a file that other endpoints can reference, such as the request file consumed
        by the Batch API.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '200':
          description: Successful response with file upload details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '400':
          description: Invalid request data.
        '500':
          description: Server error.
  /v1/files/{file_id}:
    get:
      operationId: get-file-v1
      summary: Get file
      tags:
      - Files
      description: Return the metadata for a single file by its ID.
      parameters:
      - name: file_id
        description: The ID of the file to use for this request.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '404':
          description: File not found.
        '500':
          description: Server error.
    delete:
      operationId: delete-file-v1
      summary: Delete file
      tags:
      - Files
      description: Permanently delete a single file by its ID.
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionStatusResponse'
        '404':
          description: File not found.
        '500':
          description: Server error.
  /v1/files/{file_id}/content:
    get:
      operationId: get-file-contents-v1
      summary: Get file contents
      tags:
      - Files
      description: Download the raw contents of a single file by its ID.
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with file contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found.
        '500':
          description: Server error.
  /v1/images/generations:
    post:
      operationId: post-images-generations-v1
      summary: Create image
      tags:
      - Images
      description: Generate images from a text prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/ImagesResponse'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/messages:
    post:
      operationId: createMessage
      tags:
      - Messages
      summary: Create a message (Anthropic-native)
      description: 'Anthropic-native Messages API. Accepts requests in Anthropic''s wire format and forwards

        them to the upstream Anthropic provider byte-for-byte, preserving native features such as

        `cache_control` for prompt caching. Use this endpoint when the client already speaks

        Anthropic — it avoids the OpenAI translation layer that silently strips `cache_control`.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/MessagesStreamEvent'
  /v1/models:
    get:
      operationId: get-user-models-v1
      summary: List models
      description: List all models available to the user.
      tags:
      - Models
      responses:
        '200':
          $ref: '#/components/responses/UserModelsResponse'
        '404':
          description: User not found.
  /v1/management/models/{model}/fallbacks:
    get:
      operationId: get-model-fallbacks-v1
      summary: Get fallbacks configuration for particular model
      description: Fallback configuration for a specific model. Fallbacks are tried in the order the model
        IDs are provided in the list.
      tags:
      - Models
      parameters:
      - name: model
        in: path
        required: true
        description: The ID of the model.
        schema:
          type: string
      responses:
        '200':
          description: Model fallbacks configuration found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelFallbacksConfiguration'
        '400':
          description: Invalid request.
    post:
      operationId: post-model-fallbacks-v1
      summary: Add fallbacks configuration for particular model
      description: Add fallback configuration for a specific model. Fallbacks are tried in the order the
        model IDs are provided in the list.
      tags:
      - Models
      parameters:
      - name: model
        in: path
        required: true
        description: The ID of the model.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFallbacksRequest'
      responses:
        '201':
          description: Model fallbacks configuration successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelFallbacksConfiguration'
        '400':
          description: Invalid request or fallback configurations already associated with the model.
        '404':
          description: Model not found.
    delete:
      operationId: delete-model-fallbacks-v1
      summary: Delete model fallbacks configuration
      description: Delete model fallbacks configuration
      tags:
      - Models
      parameters:
      - name: model
        in: path
        required: true
        description: The ID of the model.
        schema:
          type: string
      responses:
        '204':
          description: Model fallbacks configuration deleted successfully
        '400':
          description: Invalid request.
    patch:
      operationId: update-model-fallbacks-v1
      summary: Update fallbacks configuration for particular model
      description: Update the fallback configuration for a specific model. Fallbacks are tried in the
        order the model IDs are provided in the list.
      tags:
      - Models
      parameters:
      - name: model
        in: path
        required: true
        description: The ID of the model.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFallbacksRequest'
      responses:
        '200':
          description: Model fallbacks configuration successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelFallbacksConfiguration'
        '400':
          description: Invalid request.
  /v1/responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      summary: Create a model response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponseRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
      description: Creates a model response.
  /v1/responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      summary: Get a model response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      - in: query
        name: stream
        schema:
          type: boolean
        description: 'If set to true, the model response data will be streamed to the client

          as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

          '
      - in: query
        name: starting_after
        schema:
          type: integer
        description: 'The sequence number of the event after which to start streaming.

          '
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: 'When true, stream obfuscation will be enabled. Stream obfuscation adds

          random characters to an `obfuscation` field on streaming delta events

          to normalize payload sizes as a mitigation to certain side-channel

          attacks. These obfuscation fields are included by default, but add a

          small amount of overhead to the data stream.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      description: 'Retrieves a model response with the given ID.

        '
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      summary: Delete a model response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to delete.
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: 'Deletes a model response with the given ID.

        '
  /v1/responses/{response_id}/input_items:
    get:
      operationId: listInputItems
      tags:
      - Responses
      summary: List input items
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to retrieve input items for.
      - name: limit
        in: query
        description: 'A limit on the number of objects to be returned. Limit can range between

          1 and 100, and the default is 20.

          '
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
        description: 'The order to return the input items in. Default is `desc`.

          - `asc`: Return the input items in ascending order.

          - `desc`: Return the input items in descending order.

          '
      - in: query
        name: after
        schema:
          type: string
        description: 'An item ID to list items after, used in pagination.

          '
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseItemList'
      description: Returns a list of input items for a given response.
  /v1/responses/{response_id}/cancel:
    post:
      operationId: cancelResponse
      tags:
      - Responses
      summary: Cancel a response
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
        description: The ID of the response to cancel.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: "Cancels a model response with the given ID. Only responses created with\nthe `background`\
        \ parameter set to `true` can be cancelled. \n"
  /v1/responses/compact:
    post:
      tags:
      - Responses
      summary: Compact a response
      description: Compact conversation
      operationId: CompactConversation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompactResponseMethodPublicBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CompactResponseMethodPublicBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompactResource'
  /v1/responses/input_tokens:
    post:
      tags:
      - Responses
      summary: Get input token counts
      description: Get input token counts
      operationId: GetInputTokenCounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCountsBody'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenCountsBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenCountsResource'
  /v1/storage:
    get:
      operationId: get-storage-files-v1
      summary: List uploaded media files
      tags:
      - Storage
      description: List uploaded files.
      parameters:
      - name: after
        in: query
        description: A cursor for use in pagination. after is an object ID that defines your place in
          the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo,
          your subsequent call can include after=obj_foo in order to fetch the next page of the list.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: A limit on the number of objects to be returned. Limit can range between 1 and 10,000,
          and the default is 10,000.
        required: false
        schema:
          type: integer
          format: uint32
          default: 10000
      - name: order
        in: query
        description: Sort order by the created_at timestamp of the objects. asc for ascending order and
          desc for descending order.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: purpose
        in: query
        description: Only return files with the given purpose.
        required: false
        schema:
          $ref: '#/components/schemas/FilePurposeType'
      responses:
        '200':
          description: Successful response with list of files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_files_ListFilesResponse'
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
    post:
      operationId: post-storage-files-v1
      summary: Upload media file
      tags:
      - Storage
      description: Upload a media file for later use.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_file_UploadFileRequest'
      responses:
        '200':
          description: Successful response with file upload details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_FileResponse'
        '400':
          description: Invalid request data.
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '500':
          description: Server error.
  /v1/storage/{file_id}:
    get:
      operationId: get-storage-file-v1
      summary: Get storage file
      tags:
      - Storage
      description: Retrieve file details by ID.
      parameters:
      - name: file_id
        description: The ID of the file to use for this request.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_FileResponse'
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '404':
          description: File not found.
        '500':
          description: Server error.
    delete:
      operationId: delete-storage-file-v1
      summary: Delete storage file
      tags:
      - Storage
      description: Delete a file by ID.
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deletion_status_DeletionStatusResponse'
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '404':
          description: File not found.
        '500':
          description: Server error.
  /v1/storage/{file_id}/content:
    get:
      operationId: get-storage-file-contents-v1
      summary: Get storage file contents
      tags:
      - Storage
      description: Download file contents by ID.
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with file contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '402':
          $ref: '#/components/responses/OutOfCredits'
        '404':
          description: File not found.
        '500':
          description: Server error.
  /v1/teams/{teamId}/api_keys:
    get:
      operationId: list-team-api-keys-v1
      tags:
      - Team Management
      summary: List team API keys
      description: Return all API keys that belong to the team.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      responses:
        '200':
          description: List of team API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
    post:
      operationId: create-team-api-key-v1
      tags:
      - Team Management
      summary: Create team API key
      description: Create a new API key for the team.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRequest'
      responses:
        '201':
          $ref: '#/components/responses/TeamAPIKeyResponse'
  /v1/teams/{teamId}/api_keys/bulk:
    post:
      operationId: update-many-team-api-keys-v1
      tags:
      - Team Management
      summary: Update many team API keys
      description: Update multiple team API keys in a single request.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyBulkUpdateRequest'
      responses:
        '200':
          description: Updated API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
  /v1/teams/{teamId}/api_keys/{keyId}:
    delete:
      operationId: delete-team-api-key-v1
      tags:
      - Team Management
      summary: Delete team API key
      description: Permanently delete a team API key.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      responses:
        '204':
          description: API key deleted successfully.
        '400':
          description: Bad request
        '404':
          description: Team/Key not found.
    patch:
      operationId: update-team-api-key-v1
      tags:
      - Team Management
      summary: Update team API key
      description: Update a team API key.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRequest'
      responses:
        '200':
          $ref: '#/components/responses/TeamAPIKeyResponse'
        '400':
          description: Invalid request.
        '404':
          description: Team/Key not found.
  /v1/teams/{teamId}/api_keys/{keyId}/regenerate:
    patch:
      operationId: regenerate-team-api-key-v1
      deprecated: true
      tags:
      - Team Management
      summary: Regenerate team API key
      description: Regenerate the value of a team API key.
      parameters:
      - name: teamId
        in: path
        required: true
        description: The ID of the team.
        schema:
          type: string
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/TeamAPIKeyResponse'
        '400':
          description: Invalid request.
        '404':
          description: Team/Key not found.
  /v1/apikey/rotate:
    patch:
      operationId: rotate-api-key-v1
      tags:
      - Team Management
      - User Management
      summary: Rotate API key
      description: Rotates the API key used to authenticate this request. Returns a new key value.
      responses:
        '200':
          $ref: '#/components/responses/RotateAPIKeyResponse'
        '401':
          description: Unauthorized — request not authenticated via API key.
        '500':
          description: Internal server error.
  /v1/user/api_keys:
    get:
      operationId: list-user-api-keys-v1
      tags:
      - User Management
      summary: List user API keys
      description: Return all API keys that belong to the current user.
      responses:
        '200':
          description: List of user API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
    post:
      operationId: create-user-api-key-v1
      tags:
      - User Management
      summary: Create user API key
      description: Create a new API key for the current user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserAPIKeyResponse'
  /v1/user/api_keys/bulk:
    post:
      operationId: update-many-user-api-keys-v1
      tags:
      - User Management
      summary: Update many user API keys
      description: Update multiple user API keys in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyBulkUpdateRequest'
      responses:
        '200':
          description: Updated API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
  /v1/user/api_keys/{keyId}:
    delete:
      operationId: delete-user-api-key-v1
      tags:
      - User Management
      summary: Delete user API key
      description: Permanently delete a user API key.
      parameters:
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      responses:
        '204':
          description: API key deleted successfully.
        '400':
          description: Bad request
        '404':
          description: User/Key not found.
    patch:
      operationId: update-user-api-key-v1
      tags:
      - User Management
      summary: Update user API key
      description: Update a user API key.
      parameters:
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyRequest'
      responses:
        '200':
          $ref: '#/components/responses/UserAPIKeyResponse'
        '400':
          description: Invalid request.
        '404':
          description: User/Key not found.
  /v1/user/api_keys/{keyId}/regenerate:
    patch:
      operationId: regenerate-user-api-key-v1
      deprecated: true
      tags:
      - User Management
      summary: Regenerate user API key
      description: Regenerate the value of a user API key.
      parameters:
      - name: keyId
        in: path
        required: true
        description: The ID of the key.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/UserAPIKeyResponse'
        '400':
          description: Invalid request.
        '404':
          description: User/Key not found.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'Authenticate by sending your nexos API key in the `X-Api-Key` header (e.g. `X-Api-Key:
        nexos-...` for a user key or `X-Api-Key: nexos-team-...` for a team key). This is an alternative
        to the `Authorization: Bearer` scheme. If both `X-Nexos-Key` and `X-Api-Key` are sent, `X-Nexos-Key`
        takes precedence.'
  schemas:
    AgentSortByField:
      type: string
      enum:
      - name
      - created_at
    AgentSortOrder:
      type: string
      enum:
      - asc
      - desc
      description: Sort order, must be used together with sort_by.field.
    Agent:
      description: Represents an AI agent.
      type: object
      properties:
        id:
          type: string
          description: Unique identifier.
        name:
          type: string
          description: Agent name.
        description:
          type: string
          description: Agent description.
          nullable: true
        instructions:
          type: string
          description: Agent instructions.
        model:
          type: string
          description: Model name.
        created_at:
          type: string
          format: date-time
          description: The time the agent was created.
      required:
      - id
      - created_at
      - name
      - model
    SortByField:
      type: string
      enum:
      - name
      - created_at
    SortOrder:
      type: string
      enum:
      - asc
      - desc
      description: Sort order, must be used together with sort_by.field.
    Assistant:
      description: Represents an AI assistant.
      type: object
      properties:
        id:
          type: string
          description: Unique identifier.
        name:
          type: string
          description: Assistant name.
        description:
          type: string
          description: Assistant description.
          nullable: true
        instructions:
          type: string
          description: Assistant instructions.
        model:
          type: string
          description: Model name.
        created_at:
          type: string
          format: date-time
          description: The time the assistant was created.
      required:
      - id
      - created_at
      - name
      - model
    SpeechRequest:
      type: object
      additionalProperties: false
      properties:
        model:
          type: string
        input:
          type: string
          description: The text to generate audio for.
          maxLength: 4096
        voice:
          description: The voice to use when generating the audio.
          type: string
          enum:
          - alloy
          - echo
          - fable
          - onyx
          - nova
          - shimmer
        response_format:
          description: The format to output audio in.
          default: mp3
          type: string
          enum:
          - mp3
          - opus
          - aac
          - flac
          - wav
          - pcm
        speed:
          description: The speed of the generated audio.
          type: number
          default: 1
          minimum: 0.25
          maximum: 4
      required:
      - model
      - input
      - voice
    TranscriptionRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: 'The audio file object (not file name) to transcribe, in one of these formats:
            flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.

            '
          type: string
          format: binary
        model:
          type: string
        language:
          description: 'The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
            format will improve accuracy and latency.

            '
          type: string
        prompt:
          description: 'An optional text to guide the model''s style or continue a previous audio segment.
            The [prompt](https://platform.openai.com/docs/guides/speech-to-text/prompting) should match
            the audio language.

            '
          type: string
        response_format:
          description: 'The format of the transcript output.

            '
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
        temperature:
          description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the
            output more random, while lower values like 0.2 will make it more focused and deterministic.
            If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability)
            to automatically increase the temperature until certain thresholds are hit.

            '
          type: number
          default: 0
        timestamp_granularities[]:
          description: 'The timestamp granularities to populate for this transcription. `response_format`
            must be set `verbose_json` to use timestamp granularities. Either or both of these options
            are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps,
            but generating word timestamps incurs additional latency.

            '
          type: array
          items:
            type: string
            enum:
            - word
            - segment
          default:
          - segment
      required:
      - file
      - model
    TranscriptionResponseJson:
      type: object
      description: Represents a transcription response returned by model, based on the provided input.
      properties:
        text:
          type: string
          description: The transcribed text.
        model:
          type: string
          description: The model used for generating transcription.
    TranscriptionResponseVerboseJson:
      type: object
      description: Represents a verbose json transcription response returned by model, based on the provided
        input.
      properties:
        language:
          type: string
          description: The language of the input audio.
        duration:
          type: string
          description: The duration of the input audio.
        text:
          type: string
          description: The transcribed text.
        words:
          type: array
          description: Extracted words and their corresponding timestamps.
          items:
            $ref: '#/components/schemas/TranscriptionWord'
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
        model:
          type: string
          description: The model used for generating transcription.
    TranscriptionWord:
      type: object
      properties:
        word:
          type: string
          description: The text content of the word.
        start:
          type: number
          format: float
          description: Start time of the word in seconds.
        end:
          type: number
          format: float
          description: End time of the word in seconds.
    TranscriptionSegment:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the segment.
        seek:
          type: integer
          description: Seek offset of the segment.
        start:
          type: number
          format: float
          description: Start time of the segment in seconds.
        end:
          type: number
          format: float
          description: End time of the segment in seconds.
        text:
          type: string
          description: Text content of the segment.
        tokens:
          type: array
          items:
            type: integer
          description: Array of token IDs for the text content.
        temperature:
          type: number
          format: float
          description: Temperature parameter used for generating the segment.
        avg_logprob:
          type: number
          format: float
          description: Average logprob of the segment. If the value is lower than -1, consider the logprobs
            failed.
        compression_ratio:
          type: number
          format: float
          description: Compression ratio of the segment. If the value is greater than 2.4, consider the
            compression failed.
        no_speech_prob:
          type: number
          format: float
          description: Probability of no speech in the segment. If the value is higher than 1.0 and the
            `avg_logprob` is below -1, consider this segment silent.
    TranslationRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: 'The audio file object (not file name) translate, in one of these formats: flac,
            mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.

            '
          type: string
          format: binary
        model:
          type: string
        prompt:
          description: 'An optional text to guide the model''s style or continue a previous audio segment.
            The [prompt](https://platform.openai.com/docs/guides/speech-to-text/prompting) should be in
            English.

            '
          type: string
        response_format:
          description: 'The format of the translated transcript output.

            '
          type: string
          enum:
          - json
          - text
          - srt
          - verbose_json
          - vtt
          default: json
        temperature:
          description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the
            output more random, while lower values like 0.2 will make it more focused and deterministic.
            If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability)
            to automatically increase the temperature until certain thresholds are hit.

            '
          type: number
          default: 0
      required:
      - file
      - model
    TranslationResponseJson:
      type: object
      description: Represents a translation response returned by model, based on the provided input.
      properties:
        text:
          type: string
        model:
          type: string
          description: The model used for generating translation.
    TranslationResponseVerboseJson:
      type: object
      description: Represents a verbose translation response returned by model, based on the provided
        input.
      properties:
        language:
          type: string
          description: The language of the output translation (always `english`).
        duration:
          type: string
          description: The duration of the input audio.
        text:
          type: string
          description: The translated text.
        segments:
          type: array
          description: Segments of the translated text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
        model:
          type: string
          description: The model used for generating translation.
    BatchesRequest:
      type: object
      properties:
        input_file_id:
          type: string
          description: 'The ID of an uploaded file that contains requests for the new batch.


            Your input file must be formatted as a JSONL file, and must be uploaded with the purpose set
            to "batch". The file can contain up to 50,000 requests, and can be up to 200 MB in size.

            '
        endpoint:
          type: string
          description: 'The endpoint to be used for all requests in the batch. Currently `/v1/chat/completions`,
            `/v1/embeddings`, and `/v1/completions` are supported.

            '
          enum:
          - /v1/chat/completions
          - /v1/embeddings
          - /v1/completions
        completion_window:
          type: string
          description: 'The time frame within which the batch should be processed. Currently only "24h"
            is supported.

            '
          enum:
          - 24h
          default: 24h
        metadata:
          type: object
          description: 'Optional custom metadata for the batch. This can be useful for tracking and organizing
            batches.

            '
          additionalProperties:
            type: string
      required:
      - input_file_id
      - endpoint
      - completion_window
    Batch:
      type: object
      description: 'A batch object representing a collection of requests processed together.

        '
      properties:
        id:
          type: string
          description: 'The unique identifier of the batch.

            '
        object:
          type: string
          description: 'The object type, which is always "batch".

            '
          enum:
          - batch
        endpoint:
          type: string
          description: 'The endpoint used for the batch requests.

            '
          enum:
          - /v1/chat/completions
          - /v1/embeddings
          - /v1/completions
        errors:
          type: object
          description: 'Details about any errors encountered during batch processing.

            '
          nullable: true
          properties:
            object:
              type: string
              enum:
              - list
            data:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: 'Error code indicating the type of error.

                      '
                  message:
                    type: string
                    description: 'Human-readable error message.

                      '
                  param:
                    type: string
                    nullable: true
                    description: 'The parameter that caused the error, if applicable.

                      '
                  line:
                    type: integer
                    nullable: true
                    description: 'The line number in the input file where the error occurred.

                      '
        input_file_id:
          type: string
          description: 'The ID of the input file used for the batch.

            '
        completion_window:
          type: string
          description: 'The time frame within which the batch should be processed.

            '
        status:
          type: string
          description: 'The current status of the batch.

            '
          enum:
          - validating
          - failed
          - in_progress
          - finalizing
          - completed
          - expired
          - cancelling
          - cancelled
        output_file_id:
          type: string
          nullable: true
          description: 'The ID of the file containing the outputs of the batch requests. This is only
            available when the batch status is "completed".

            '
        error_file_id:
          type: string
          nullable: true
          description: 'The ID of the file containing the errors of the batch requests. This is only available
            when there are errors in the batch.

            '
        created_at:
          type: integer
          description: 'The Unix timestamp (in seconds) for when the batch was created.

            '
        in_progress_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch started processing.

            '
        expires_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch will expire.

            '
        finalizing_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch started finalizing.

            '
        completed_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch was completed.

            '
        failed_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch failed.

            '
        expired_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch expired.

            '
        cancelling_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch cancellation was initiated.

            '
        cancelled_at:
          type: integer
          nullable: true
          description: 'The Unix timestamp (in seconds) for when the batch was cancelled.

            '
        request_counts:
          type: object
          description: 'Statistics about the requests in the batch.

            '
          properties:
            total:
              type: integer
              description: 'Total number of requests in the batch.

                '
            completed:
              type: integer
              description: 'Number of requests that completed successfully.

                '
            failed:
              type: integer
              description: 'Number of requests that failed.

                '
          required:
          - total
          - completed
          - failed
        metadata:
          type: object
          nullable: true
          description: 'Set of 16 key-value pairs that can be attached to the batch. This can be useful
            for storing additional information about the batch in a structured format.

            '
          additionalProperties:
            type: string
      required:
      - id
      - object
      - endpoint
      - input_file_id
      - completion_window
      - status
      - created_at
      - request_counts
    CompanyBudgetLimit:
      type: object
      properties:
        company_uuid:
          type: string
          description: The UUID of the company.
        target_type:
          type: string
          description: The target type of the budget limit. Only team or user are supported for new limits.
          enum:
          - company
          - team
          - user
        target_uuid:
          type: string
          description: The UUID of the target (team or user).
        limit_type:
          type: string
          description: The type of budget limit.
          enum:
          - general
          - public-api
        is_renewed:
          type: boolean
          description: Whether the budget limit is renewed periodically.
        value:
          type: number
          format: double
          description: The budget limit value.
        created_at:
          type: string
          format: date-time
          description: When the budget limit was created.
        updated_at:
          type: string
          format: date-time
          description: When the budget limit was last updated.
      required:
      - company_uuid
      - target_type
      - target_uuid
      - limit_type
      - is_renewed
      - created_at
      - updated_at
    UpsertCompanyBudgetLimitRequest:
      type: object
      properties:
        target_type:
          type: string
          description: The target type of the budget limit (only team or user are supported).
          enum:
          - team
          - user
        target_uuid:
          type: string
          description: The UUID of the target (team or user). Empty string for default budget
        limit_type:
          type: string
          description: The type of budget limit.
          enum:
          - general
          - public-api
        is_renewed:
          type: boolean
          description: Whether the budget limit is renewed periodically.
        value:
          type: integer
          format: int64
          description: The budget limit value.
          nullable: true
      required:
      - target_type
      - target_uuid
      - limit_type
      - is_renewed
      - value
    DeleteCompanyBudgetLimitRequest:
      type: object
      properties:
        target_type:
          type: string
          description: The target type of the budget limit (only team or user are supported).
          enum:
          - team
          - user
        target_uuid:
          type: string
          description: The UUID of the target (team or user).
        limit_type:
          type: string
          description: The type of budget limit.
          enum:
          - general
          - public-api
      required:
      - target_type
      - limit_type
      - target_uuid
    BulkUpsertCompanyBudgetLimitRequest:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BulkUpsertCompanyBudgetLimitItem'
      required:
      - items
    BulkUpsertCompanyBudgetLimitItem:
      type: object
      properties:
        target_type:
          type: string
          description: The target type of the budget limit (only team or user are supported).
          enum:
          - team
          - user
        target_uuid:
          type: string
          description: The UUID of the target (team or user). Empty string for default budget.
        limit_type:
          type: string
          description: The type of budget limit.
          enum:
          - general
          - public-api
        is_renewed:
          type: boolean
          description: Whether the budget limit is renewed periodically.
        value:
          type: integer
          format: int64
          description: The budget limit value. Ignored when remove is true.
        remove:
          type: boolean
          description: When true, the matching row is deleted instead of upserted.
      required:
      - target_type
      - target_uuid
      - limit_type
      - is_renewed
    ChatCompletionsRequest:
      type: object
      properties:
        messages:
          description: 'A list of messages comprising the conversation so far. Depending on the model
            you use, different message types (modalities) are supported, like text, images, and audio.

            '
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessage'
        model:
          type: string
          description: Model name, UUID, or agent UUID.
        store:
          type: boolean
          description: 'Whether or not to store the output of this chat completion request

            '
        metadata:
          type: object
          description: 'Developer-defined tags and values used for filtering completions

            in the dashboard.

            '
          additionalProperties:
            type: string
        frequency_penalty:
          type: number
          default: 0
          minimum: -2
          maximum: 2
          description: 'Number between -2.0 and 2.0. Positive values penalize new tokens based on their
            existing frequency in the text so far, decreasing the model''s likelihood to repeat the same
            line verbatim.

            '
        logit_bias:
          type: object
          additionalProperties:
            type: integer
          description: 'Modify the likelihood of specified tokens appearing in the completion.


            Accepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an
            associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated
            by the model prior to sampling. The exact effect will vary per model, but values between -1
            and 1 should decrease or increase likelihood of selection; values like -100 or 100 should
            result in a ban or exclusive selection of the relevant token.

            '
        logprobs:
          description: Whether to return log probabilities of the output tokens or not. If true, returns
            the log probabilities of each output token returned in the `content` of `message`.
          type: boolean
        top_logprobs:
          description: An integer between 0 and 20 specifying the number of most likely tokens to return
            at each token position, each with an associated log probability. `logprobs` must be set to
            `true` if this parameter is used.
          type: integer
          minimum: 0
          maximum: 20
        max_tokens:
          description: 'The maximum number of tokens that can be generated in the chat completion. This
            value can be used to control costs for text generated via API.


            This value is now deprecated in favor of `max_completion_tokens`, and is not compatible with
            o1 series models.

            '
          type: integer
          nullable: true
          deprecated: true
        max_completion_tokens:
          description: 'An upper bound for the number of tokens that can be generated for a completion,
            including visible output tokens and reasoning tokens.

            '
          type: integer
          nullable: true
        n:
          type: integer
          minimum: 1
          maximum: 128
          default: 1
          description: How many chat completion choices to generate for each input message. Note that
            you will be charged based on the number of generated tokens across all of the choices. Keep
            `n` as `1` to minimize costs.
        modalities:
          $ref: '#/components/schemas/ChatCompletionModalities'
        prediction:
          description: 'Configuration for a Predicted Output,

            which can greatly improve response times when large parts of the model

            response are known ahead of time. This is most common when you are

            regenerating a file with only minor changes to most of the content.

            '
          oneOf:
          - $ref: '#/components/schemas/PredictionContent'
        audio:
          type: object
          description: 'Parameters for audio output. Required when audio output is requested with

            `modalities: ["audio"]`.

            '
          required:
          - voice
          - format
          properties:
            voice:
              type: string
              enum:
              - alloy
              - ash
              - ballad
              - coral
              - echo
              - sage
              - shimmer
              - verse
              description: 'The voice the model uses to respond. Supported voices are `alloy`,

                `ash`, `ballad`, `coral`, `echo`, `sage`, `shimmer`, and `verse`.

                '
            format:
              type: string
              enum:
              - wav
              - mp3
              - flac
              - opus
              - pcm16
              description: 'Specifies the output audio format. Must be one of `wav`, `mp3`, `flac`,

                `opus`, or `pcm16`.

                '
        presence_penalty:
          type: number
          default: 0
          minimum: -2
          maximum: 2
          description: 'Number between -2.0 and 2.0. Positive values penalize new tokens based on whether
            they appear in the text so far, increasing the model''s likelihood to talk about new topics.

            '
        response_format:
          description: 'An object specifying the format that the model must output. Compatible with GPT-4o,
            GPT-4o mini, GPT-4 Turbo and all GPT-3.5 Turbo models newer than `gpt-3.5-turbo-1106`.


            Setting to `{ "type": "json_schema", "json_schema": {...} }` enables Structured Outputs which
            ensures the model will match your supplied JSON schema.


            Setting to `{ "type": "json_object" }` enables JSON mode, which ensures the message the model
            generates is valid JSON.


            **Important:** when using JSON mode, you **must** also instruct the model to produce JSON
            yourself via a system or user message. Without this, the model may generate an unending stream
            of whitespace until the generation reaches the token limit, resulting in a long-running and
            seemingly "stuck" request. Also note that the message content may be partially cut off if
            `finish_reason="length"`, which indicates the generation exceeded `max_tokens` or the conversation
            exceeded the max context length.

            '
          oneOf:
          - $ref: '#/components/schemas/ResponseFormatText'
          - $ref: '#/components/schemas/ResponseFormatJsonObject'
          - $ref: '#/components/schemas/ResponseFormatJsonSchema'
        seed:
          type: integer
          minimum: -9223372036854776000
          maximum: 9223372036854776000
          description: 'This feature is in Beta.

            If specified, our system will make a best effort to sample deterministically, such that repeated
            requests with the same `seed` and parameters should return the same result.

            Determinism is not guaranteed, and you should refer to the `system_fingerprint` response parameter
            to monitor changes in the backend.

            '
        service_tier:
          description: 'Specifies the processing type used for serving the request.

            If set to ''default'' or ''auto'', then the request will be processed with the standard pricing
            and performance for the selected model.

            If set to ''flex'' or ''priority'', then the request will be processed with the corresponding
            service tier.

            When not set, the default behavior is ''auto''.

            When the `service_tier` parameter is set, the response body will include the `service_tier`
            value based on the processing mode actually used to serve the request. This response value
            may be different from the value set in the parameter.

            '
          type: string
          enum:
          - auto
          - default
          - flex
          - scale
          - priority
          default: auto
        stop:
          description: 'Up to 4 sequences where the API will stop generating further tokens.

            '
          oneOf:
          - type: string
          - type: array
            minItems: 1
            maxItems: 4
            items:
              type: string
        stream:
          description: 'If set, partial message deltas will be sent, like in ChatGPT. Tokens will be sent
            as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format)
            as they become available, with the stream terminated by a `data: [DONE]` message.

            '
          type: boolean
        stream_options:
          $ref: '#/components/schemas/ChatCompletionStreamOptions'
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
          description: 'What sampling temperature to use, between 0 and 2. Higher values like 0.8 will
            make the output more random, while lower values like 0.2 will make it more focused and deterministic.


            We generally recommend altering this or `top_p` but not both.

            '
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          description: 'An alternative to sampling with temperature, called nucleus sampling, where the
            model considers the results of the tokens with top_p probability mass. So 0.1 means only the
            tokens comprising the top 10% probability mass are considered.


            We generally recommend altering this or `temperature` but not both.

            '
        tools:
          type: array
          description: 'A list of tools the model may call. Currently, only functions are supported as
            a tool. Use this to provide a list of functions the model may generate JSON inputs for. A
            max of 128 functions are supported.

            '
          items:
            $ref: '#/components/schemas/ChatCompletionTool'
        tool_choice:
          $ref: '#/components/schemas/ChatCompletionToolChoiceOption'
        parallel_tool_calls:
          $ref: '#/components/schemas/ParallelToolCalls'
        function_call:
          deprecated: true
          description: 'Deprecated in favor of `tool_choice`.


            Controls which (if any) function is called by the model.

            `none` means the model will not call a function and instead generates a message.

            `auto` means the model can pick between generating a message or calling a function.

            Specifying a particular function via `{"name": "my_function"}` forces the model to call that
            function.


            `none` is the default when no functions are present. `auto` is the default if functions are
            present.

            '
          oneOf:
          - type: string
            description: '`none` means the model will not call a function and instead generates a message.
              `auto` means the model can pick between generating a message or calling a function.

              '
            enum:
            - none
            - auto
          - $ref: '#/components/schemas/ChatCompletionFunctionCallOption'
        functions:
          deprecated: true
          description: 'Deprecated in favor of `tools`.


            A list of functions the model may generate JSON inputs for.

            '
          type: array
          minItems: 1
          maxItems: 128
          items:
            $ref: '#/components/schemas/ChatCompletionFunctions'
        thinking:
          type: object
          properties:
            type:
              type: string
              description: The type of thinking configuration
            budget_tokens:
              type: integer
              description: The token budget allocation for thinking operations
        reasoning_effort:
          type: string
          description: Reasoning effort for models that support reasoning.
          enum:
          - none
          - minimal
          - low
          - medium
          - high
          - xhigh
          - max
        verbosity:
          type: string
          description: Constrains the verbosity of the model's response.
          enum:
          - low
          - medium
          - high
      required:
      - model
      - messages
    chat_completions_messages_ChatCompletionRequestMessage:
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestDeveloperMessage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestSystemMessage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestUserMessage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestAssistantMessage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestToolMessage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestFunctionMessage'
    ChatCompletionRequestDeveloperMessage:
      type: object
      title: Developer message
      description: 'Developer-provided instructions that the model should follow, regardless of

        messages sent by the user. With o1 models and newer, `developer` messages

        replace the previous `system` messages.

        '
      properties:
        content:
          description: The contents of the developer message.
          oneOf:
          - type: string
            description: The contents of the developer message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. For developer messages, only type
              `text` is supported.
            title: Array of content parts
            items:
              $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartText'
            minItems: 1
        role:
          type: string
          enum:
          - developer
          description: The role of the messages author, in this case `developer`.
        name:
          type: string
          description: An optional name for the participant. Provides the model information to differentiate
            between participants of the same role.
      required:
      - content
      - role
    chat_completions_messages_ChatCompletionRequestMessageContentPartText:
      type: object
      title: Text content part
      description: 'Learn about [text inputs](/docs/guides/text-generation).

        '
      properties:
        type:
          type: string
          enum:
          - text
          description: The type of the content part.
        text:
          type: string
          description: The text content.
      required:
      - type
      - text
    chat_completions_messages_ChatCompletionRequestSystemMessage:
      type: object
      title: System message
      description: 'Developer-provided instructions that the model should follow, regardless of

        messages sent by the user. With o1 models and newer, use `developer` messages

        for this purpose instead.

        '
      properties:
        content:
          description: The contents of the system message.
          oneOf:
          - type: string
            description: The contents of the system message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. For system messages, only type
              `text` is supported.
            title: Array of content parts
            items:
              $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestSystemMessageContentPart'
            minItems: 1
        role:
          type: string
          enum:
          - system
          description: The role of the messages author, in this case `system`.
        name:
          type: string
          description: An optional name for the participant. Provides the model information to differentiate
            between participants of the same role.
      required:
      - content
      - role
    chat_completions_messages_ChatCompletionRequestSystemMessageContentPart:
      oneOf:
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartText'
    chat_completions_messages_ChatCompletionRequestUserMessage:
      type: object
      title: User message
      description: 'Messages sent by an end user, containing prompts or additional context

        information.

        '
      properties:
        content:
          description: 'The contents of the user message.

            '
          oneOf:
          - type: string
            description: The text contents of the message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. Supported options differ based
              on the [model](/docs/models) being used to generate the response. Can contain text, image,
              or audio inputs.
            title: Array of content parts
            items:
              $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestUserMessageContentPart'
            minItems: 1
        role:
          type: string
          enum:
          - user
          description: The role of the messages author, in this case `user`.
        name:
          type: string
          description: An optional name for the participant. Provides the model information to differentiate
            between participants of the same role.
      required:
      - content
      - role
    chat_completions_messages_ChatCompletionRequestUserMessageContentPart:
      oneOf:
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartText'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartImage'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartAudio'
    chat_completions_messages_ChatCompletionRequestMessageContentPartImage:
      type: object
      title: Image content part
      description: 'Learn about [image inputs](/docs/guides/vision).

        '
      properties:
        type:
          type: string
          enum:
          - image_url
          description: The type of the content part.
        image_url:
          type: object
          properties:
            url:
              type: string
              description: Either a URL of the image or the base64 encoded image data.
              format: uri
            detail:
              type: string
              description: Specifies the detail level of the image. Learn more in the [Vision guide](/docs/guides/vision#low-or-high-fidelity-image-understanding).
              enum:
              - auto
              - low
              - high
              default: auto
          required:
          - url
      required:
      - type
      - image_url
    chat_completions_messages_ChatCompletionRequestMessageContentPartAudio:
      type: object
      title: Audio content part
      description: 'Learn about [audio inputs](/docs/guides/audio).

        '
      properties:
        type:
          type: string
          enum:
          - input_audio
          description: The type of the content part. Always `input_audio`.
        input_audio:
          type: object
          properties:
            data:
              type: string
              description: Base64 encoded audio data.
            format:
              type: string
              enum:
              - wav
              - mp3
              description: 'The format of the encoded audio data. Currently supports "wav" and "mp3".

                '
          required:
          - data
          - format
      required:
      - type
      - input_audio
    chat_completions_messages_ChatCompletionRequestAssistantMessage:
      type: object
      title: Assistant message
      description: 'Messages sent by the model in response to user messages.

        '
      properties:
        content:
          nullable: true
          oneOf:
          - type: string
            description: The contents of the assistant message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. Can be one or more of type `text`,
              or exactly one of type `refusal`.
            title: Array of content parts
            items:
              $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestAssistantMessageContentPart'
            minItems: 1
          description: 'The contents of the assistant message. Required unless `tool_calls` or `function_call`
            is specified.

            '
        refusal:
          nullable: true
          type: string
          description: The refusal message by the assistant.
        role:
          type: string
          enum:
          - assistant
          description: The role of the messages author, in this case `assistant`.
        name:
          type: string
          description: An optional name for the participant. Provides the model information to differentiate
            between participants of the same role.
        audio:
          type: object
          nullable: true
          description: "Data about a previous audio response from the model. \n[Learn more](/docs/guides/audio).\n"
          required:
          - id
          properties:
            id:
              type: string
              description: 'Unique identifier for a previous audio response from the model.

                '
        tool_calls:
          $ref: '#/components/schemas/chat_completions_messages_ChatCompletionMessageToolCalls'
        function_call:
          type: object
          deprecated: true
          description: Deprecated and replaced by `tool_calls`. The name and arguments of a function that
            should be called, as generated by the model.
          nullable: true
          properties:
            arguments:
              type: string
              description: The arguments to call the function with, as generated by the model in JSON
                format. Note that the model does not always generate valid JSON, and may hallucinate parameters
                not defined by your function schema. Validate the arguments in your code before calling
                your function.
            name:
              type: string
              description: The name of the function to call.
          required:
          - arguments
          - name
      required:
      - role
    chat_completions_messages_ChatCompletionRequestAssistantMessageContentPart:
      oneOf:
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartText'
      - $ref: '#/components/schemas/chat_completions_messages_ChatCompletionRequestMessageContentPartRefusal'
    chat_completions_messages_ChatCompletionRequestMessageContentPartRefusal:
      type: object
      title: Refusal content part
      properties:
        type:
          type: string
          enum:
          - refusal
          description: The type of the content part.
        refusal:
          type: string
          description: The refusal message generated by the model.
      required:
      - type
      - refusal
    chat_completions_messages_ChatCompletionMessageToolCalls:
      type: array
      description: The tool calls generated by the model, such as function calls.
      items:
        $ref: '#/components/schemas/chat_completions_messages_ChatCompletionMessageToolCall'
    chat_completions_messages_ChatCompletionMessageToolCall:
      type: object
      properties:
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          enum:
          - function
          description: The type of the tool. Currently, only `function` is supported.
        function:
          type: object
          description: The function that the model called.
          properties:
            name:
              type: string
              description: The name of the function to call.
            arguments:
              type: string
              description: The arguments to call the function with, as generated by the model in JSON
                format. Note that the model does not always generate valid JSON, and may hallucinate parameters
                not defined by your function schema. Validate the arguments in your code before calling
                your function.
          required:
          - name
          - arguments
      required:
      - id
      - type
      - function
    chat_completions_messages_ChatCompletionRequestToolMessage:
      type: object
      title: Tool message
      properties:
        role:
          type: string
          enum:
          - tool
          description: The role of the messages author, in this case `tool`.
        content:
          oneOf:
          - type: string
            description: The contents of the tool message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. For tool messages, only type `text`
[...]
